<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.AttentionHuntJobMapper">

    <!--  查询用户求职关注列表  -->
    <select id="queryPersonalList"
            resultType="com.korant.youya.workplace.pojo.vo.attentionhuntjob.AttentionHuntJobPersonalListVo">
        SELECT ahj.id,
               hj.id                AS huntJobId,
               u.avatar,
               nvi.last_name        AS lastName,
               nvi.first_name       AS firstName,
               u.gender,
               u.personal_signature AS personalSignature,
               p.name               AS positionName,
               ep.min_salary        AS minExpectedSalary,
               ep.max_salary        AS maxExpectedSalary,
               dd1.name             AS provinceName,
               dd2.name             AS cityName,
               dd3.name             AS districtName,
               hj.award
        FROM attention_hunt_job AS ahj
                 LEFT JOIN hunt_job AS hj ON ahj.hunt_id = hj.id
                 LEFT JOIN yy_user AS u ON hj.uid = u.id AND u.is_delete = 0
                 LEFT JOIN yy_user_name_visible_info AS nvi ON u.id = nvi.uid AND nvi.is_delete = 0
                 LEFT JOIN expected_work_area AS ewa ON hj.area_id = ewa.id AND ewa.is_delete = 0
                 LEFT JOIN district_data dd1 ON dd1.code = ewa.province_code AND dd1.is_delete = 0
                 LEFT JOIN district_data dd2 ON dd2.code = ewa.city_code AND dd2.is_delete = 0
                 LEFT JOIN district_data dd3 ON dd3.code = ewa.district_code AND dd3.is_delete = 0
                 LEFT JOIN expected_position AS ep ON hj.position_id = ep.id AND ep.is_delete = 0
                 LEFT JOIN position AS p ON ep.position_code = p.code AND p.is_delete = 0
        WHERE ahj.uid = #{userId}
          AND ahj.is_delete = 0
          AND hj.is_delete = 0
        ORDER BY ahj.create_time DESC LIMIT #{personalListDto.pageSize}
        OFFSET (#{personalListDto.pageNumber} -1) * #{personalListDto.pageSize}
    </select>
</mapper>
