<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.CandidateMapper">

    <resultMap id="detailMap" type="com.korant.youya.workplace.pojo.vo.candidate.CandidateDetailVo">
        <id column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="avatar" property="avatar"/>
        <result column="lastName" property="lastName"/>
        <result column="firstName" property="firstName"/>
        <result column="gender" property="gender"/>
        <result column="personalSignature" property="personalSignature"/>
        <result column="age" property="age"/>
        <result column="eduLevel" property="eduLevel"/>
        <result column="workExperience" property="workExperience"/>
        <result column="employStatus" property="employStatus"/>
        <result column="minSalary" property="minSalary"/>
        <result column="maxSalary" property="maxSalary"/>
        <result column="phone" property="phone"/>
        <result column="wechatId" property="wechatId"/>
        <result column="qq" property="qq"/>
        <result column="email" property="email"/>
        <result column="countryName" property="countryName"/>
        <result column="provinceName" property="provinceName"/>
        <result column="cityName" property="cityName"/>
        <result column="address" property="address"/>
        <collection property="workExperienceVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.workexperience.WorkExperiencePreviewVo"
                    resultMap="WorkExperienceVoMap">
        </collection>
    </resultMap>

    <resultMap id="WorkExperienceVoMap"
               type="com.korant.youya.workplace.pojo.vo.workexperience.WorkExperiencePreviewVo">
        <id column="weId" property="weId"/>
        <result column="enterpriseName" property="enterpriseName"/>
        <result column="departmentName" property="departmentName"/>
        <result column="positionName" property="positionName"/>
        <result column="startTime" property="startTime"/>
        <result column="endTime" property="endTime"/>
        <result column="content" property="content"/>
        <result column="performance" property="performance"/>
        <collection property="projectExperienceVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.projectexperience.ProjectExperiencePreviewVo"
                    resultMap="ProjectExperienceVoMap">
        </collection>
    </resultMap>

    <resultMap id="ProjectExperienceVoMap"
               type="com.korant.youya.workplace.pojo.vo.projectexperience.ProjectExperiencePreviewVo">
        <id column="peId" property="peId"/>
        <result column="projectName" property="projectName"/>
        <result column="projectRole" property="projectRole"/>
        <result column="projectContent" property="projectContent"/>
    </resultMap>

    <!--  查询候选人数量  -->
    <select id="queryListCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM apply_job AS aj
        LEFT JOIN job AS j ON aj.job_id = j.id AND j.is_delete = 0
        <where>
            j.uid = #{userId}
            <if test="listDto.positionCode != ''">
                AND j.position_code = #{listDto.positionCode}
            </if>
            AND aj.is_delete = 0
        </where>
    </select>

    <!--  查询候选人列表  -->
    <select id="queryList" resultType="com.korant.youya.workplace.pojo.vo.candidate.CandidateVo">
        SELECT aj.id,
        aj.applicant,
        u.avatar,
        nv.last_name AS lastName,
        nv.first_name AS firstName,
        u.gender,
        u.personal_signature AS personalSignature,
        aj.recruit_process_instance_id AS recruitProcessInstanceId,
        p.name AS positionName,
        j.min_salary AS minSalary,
        j.max_salary AS maxSalary,
        aj.create_time AS applyTime
        FROM apply_job AS aj
        LEFT JOIN job AS j ON aj.job_id = j.id AND j.is_delete = 0
        LEFT JOIN position AS p ON j.position_code = p.code AND p.is_delete = 0
        LEFT JOIN yy_user AS u ON aj.applicant = u.id AND u.is_delete = 0
        LEFT JOIN yy_user_name_visible_info AS nv ON u.id = nv.uid AND nv.is_delete = 0
        <where>
            j.uid = #{userId}
            <if test="listDto.positionCode != ''">
                AND j.position_code = #{listDto.positionCode}
            </if>
            AND aj.is_delete = 0
            ORDER BY aj.create_time DESC LIMIT #{listDto.pageSize}
            OFFSET (#{listDto.pageNumber} -1) * #{listDto.pageSize}
        </where>
    </select>

    <!--  查询已发布职位分类  -->
    <select id="queryPublishedJobCategoryList" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.vo.candidate.PublishedJobCategoryVo">
        SELECT j.position_code AS positionCode,
               p.name          AS positionName
        FROM job AS j
                 LEFT JOIN position AS p ON j.position_code = p.code AND p.is_delete = 0
        WHERE j.uid = #{userId}
          AND j.status = 1
          AND j.audit_status = 2
          AND j.is_delete = 0
    </select>

    <!--  查询候选人详情  -->
    <select id="detail" parameterType="java.lang.Long" resultMap="detailMap">
        SELECT aj.id,
               u.id                 AS uid,
               u.avatar,
               nv.last_name         AS lastName,
               nv.first_name        AS firstName,
               u.gender,
               u.personal_signature AS personalSignature,
               (SELECT CASE
                           WHEN u.birthday IS NOT NULL THEN DATE_PART('year', AGE(NOW(), u.birthday))
                           ELSE NULL
                           END)     AS age,
               (SELECT edu_level
                FROM education_experience
                WHERE uid = u.id
                  AND is_delete = 0
                ORDER BY end_time DESC, start_time
                    DESC               LIMIT 1)                    AS eduLevel,
               (SELECT CASE
                           WHEN u.start_working_time IS NOT NULL
                               THEN DATE_PART('year', AGE(NOW(), u.start_working_time))
                           ELSE NULL
                           END)      AS workExperience,
               es.status             AS employStatus,
               ep.min_salary         AS minSalary,
               ep.max_salary         AS maxSalary,
               rv.phone,
               rv.wechat_id          AS wechatId,
               rv.qq,
               rv.email,
               dd1.name              AS countryName,
               dd2.name              AS provinceName,
               dd3.name              AS cityName,
               rv.address,
               we.id AS weId,
               we.enterprise_name AS enterpriseName,
               we.department_name AS departmentName,
               we.position_name AS positionName,
               we.start_time AS startTime,
               we.end_time AS endTime,
               we.content,
               we.performance,
               pe.id AS peId,
               pe.project_name AS projectName,
               pe.project_role AS projectRole,
               pe.project_content AS projectContent
        FROM apply_job AS aj
            LEFT JOIN yy_user AS u
        ON aj.applicant = u.id AND u.is_delete = 0
            LEFT JOIN employ_status AS es ON u.id = es.uid AND es.is_delete = 0
            LEFT JOIN (
            SELECT * FROM expected_position WHERE status_id = (SELECT es.id FROM apply_job AS aj
            LEFT JOIN yy_user AS u
            ON aj.applicant = u.id AND u.is_delete = 0
            LEFT JOIN employ_status AS es ON u.id = es.uid AND es.is_delete = 0 WHERE aj.id = #{id})
            ORDER BY create_time DESC LIMIT 1
            ) AS ep ON es.id = ep.status_id
            LEFT JOIN yy_user_name_visible_info AS nv
            ON u.id = nv.uid AND nv.is_delete = 0
            LEFT JOIN recruiter_visible_info AS rv ON u.id = rv.uid AND rv.is_delete = 0
            LEFT JOIN district_data dd1 ON dd1.code = rv.country_code AND dd1.is_delete = 0
            LEFT JOIN district_data dd2 ON dd2.code = rv.province_code AND dd2.is_delete = 0
            LEFT JOIN district_data dd3 ON dd3.code = rv.city_code AND dd3.is_delete = 0
            LEFT JOIN work_experience AS we ON u.id = we.uid AND we.is_delete = 0
            LEFT JOIN project_experience AS pe ON we.id = pe.we_id AND pe.is_delete = 0
        WHERE aj.id = #{id}
    </select>

    <!--  查询候选人招聘记录  -->
    <select id="queryRecruitmentRecords" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.vo.candidate.CandidateRecruitmentRecordsVo">
        SELECT aj.id,
               aj.recruit_process_instance_id AS recruitProcessInstanceId,
               u.avatar,
               nv.last_name                   AS lastName,
               nv.first_name                  AS firstName,
               u.personal_signature           AS personalSignature,
               p1.name                        AS positionName,
               ep.min_salary                  AS minSalary,
               ep.max_salary                  AS maxSalary,
               d1.name                        AS cityName,
               p2.name                        AS associationPositionName,
               j.min_salary                   AS associationPositionMinSalary,
               j.max_salary                   AS associationPositionMaxSalary,
               rpi.process_step               AS processStep
        FROM apply_job AS aj
                 LEFT JOIN yy_user AS u ON aj.applicant = u.id AND u.is_delete = 0
                 LEFT JOIN employ_status AS es ON u.id = es.uid AND es.is_delete = 0
                 LEFT JOIN (
            SELECT *
            FROM expected_position
            WHERE status_id = (SELECT es.id
                               FROM apply_job AS aj
                                        LEFT JOIN yy_user AS u
                                                  ON aj.applicant = u.id AND u.is_delete = 0
                                        LEFT JOIN employ_status AS es ON u.id = es.uid AND es.is_delete = 0
                               WHERE aj.id = #{id})
            ORDER BY create_time DESC LIMIT 1
        ) AS ep ON es.id = ep.status_id
                 LEFT JOIN position AS p1 ON ep.position_code = p1.code AND p1.is_delete = 0
                 LEFT JOIN (
            SELECT *
            FROM expected_work_area
            WHERE status_id = (SELECT es.id
                               FROM apply_job AS aj
                                        LEFT JOIN yy_user AS u
                                                  ON aj.applicant = u.id AND u.is_delete = 0
                                        LEFT JOIN employ_status AS es ON u.id = es.uid AND es.is_delete = 0
                               WHERE aj.id = #{id})
            ORDER BY create_time DESC LIMIT 1
        ) AS ewa ON es.id = ewa.status_id
                 LEFT JOIN district_data AS d1 ON ewa.city_code = d1.code AND d1.is_delete = 0
                 LEFT JOIN yy_user_name_visible_info AS nv ON u.id = nv.uid AND nv.is_delete = 0
                 LEFT JOIN job AS j ON aj.job_id = j.id AND j.is_delete = 0
                 LEFT JOIN position AS p2 ON j.position_code = p2.code AND p2.is_delete = 0
                 LEFT JOIN recruit_process_instance AS rpi
                           ON aj.recruit_process_instance_id = rpi.id AND rpi.is_delete = 0
        WHERE aj.id = #{id}
    </select>

    <!--  查询面试邀约详情  -->
    <select id="interviewDetail" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.vo.candidate.CandidateInterviewDetailVo">
        SELECT i.id,
               u.avatar,
               nv.last_name         AS lastName,
               nv.first_name        AS firstName,
               u.gender,
               u.personal_signature AS personalSignature,
               p1.name              AS positionName,
               ep.min_salary        AS minSalary,
               ep.max_salary        AS maxSalary,
               d1.name              AS cityName,
               p2.name              AS associationPositionName,
               j.min_salary         AS associationPositionMinSalary,
               j.max_salary         AS associationPositionMaxSalary,
               i.approach,
               i.inter_time         AS interTime,
               i.note,
               i.acceptance_status  AS acceptanceStatus,
               i.completion_status  AS completionStatus
        FROM interview AS i
                 LEFT JOIN recruit_process_instance AS rpi
                           ON i.recruit_process_instance_id = rpi.id AND rpi.is_delete = 0
                 LEFT JOIN apply_job AS aj ON rpi.id = aj.recruit_process_instance_id AND aj.is_delete = 0
                 LEFT JOIN yy_user AS u ON aj.applicant = u.id AND u.is_delete = 0
                 LEFT JOIN employ_status AS es ON u.id = es.uid AND es.is_delete = 0
                 LEFT JOIN (
            SELECT *
            FROM expected_position
            WHERE status_id = (SELECT es.id
                               FROM interview AS i
                                        LEFT JOIN recruit_process_instance AS rpi
                                                  ON i.recruit_process_instance_id = rpi.id AND rpi.is_delete = 0
                                        LEFT JOIN apply_job AS aj
                                                  ON rpi.id = aj.recruit_process_instance_id AND aj.is_delete = 0
                                        LEFT JOIN yy_user AS u ON aj.applicant = u.id AND u.is_delete = 0
                                        LEFT JOIN employ_status AS es ON u.id = es.uid AND es.is_delete = 0
                               WHERE i.id = #{id})
            ORDER BY create_time DESC LIMIT 1
        ) AS ep
                           ON es.id = ep.status_id
                 LEFT JOIN position AS p1 ON ep.position_code = p1.code AND p1.is_delete = 0
                 LEFT JOIN (
            SELECT *
            FROM expected_work_area
            WHERE status_id = (SELECT es.id
                               FROM interview AS i
                                        LEFT JOIN recruit_process_instance AS rpi
                                                  ON i.recruit_process_instance_id = rpi.id AND rpi.is_delete = 0
                                        LEFT JOIN apply_job AS aj
                                                  ON rpi.id = aj.recruit_process_instance_id AND aj.is_delete = 0
                                        LEFT JOIN yy_user AS u
                                                  ON aj.applicant = u.id AND u.is_delete = 0
                                        LEFT JOIN employ_status AS es ON u.id = es.uid AND es.is_delete = 0
                               WHERE i.id = #{id})
            ORDER BY create_time DESC LIMIT 1
        ) AS ewa ON es.id = ewa.status_id
                 LEFT JOIN district_data AS d1 ON ewa.city_code = d1.code AND d1.is_delete = 0
                 LEFT JOIN yy_user_name_visible_info AS nv ON u.id = nv.uid AND nv.is_delete = 0
                 LEFT JOIN job AS j ON aj.job_id = j.id AND j.is_delete = 0
                 LEFT JOIN position AS p2 ON j.position_code = p2.code AND p2.is_delete = 0
        WHERE i.id = #{id}
          AND i.is_delete = 0
    </select>

    <!--  查询入职邀约详情  -->
    <select id="onboardingDetail" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.vo.candidate.CandidateOnboardingDetailVo">
        SELECT o.id,
               u.avatar,
               nv.last_name         AS lastName,
               nv.first_name        AS firstName,
               u.gender,
               u.personal_signature AS personalSignature,
               p1.name              AS positionName,
               ep.min_salary        AS minSalary,
               ep.max_salary        AS maxSalary,
               d1.name              AS cityName,
               p2.name              AS associationPositionName,
               j.min_salary         AS associationPositionMinSalary,
               j.max_salary         AS associationPositionMaxSalary,
               o.onboarding_time    AS onboardingTime,
               d2.name              AS countryName,
               d3.name              AS provinceName,
               d4.name              AS cityName,
               o.address,
               o.note,
               o.acceptance_status  AS acceptanceStatus,
               o.completion_status  AS completionStatus
        FROM onboarding AS o
                 LEFT JOIN recruit_process_instance AS rpi
                           ON o.recruit_process_instance_id = rpi.id AND rpi.is_delete = 0
                 LEFT JOIN apply_job AS aj ON rpi.id = aj.recruit_process_instance_id AND aj.is_delete = 0
                 LEFT JOIN yy_user AS u ON aj.applicant = u.id AND u.is_delete = 0
                 LEFT JOIN employ_status AS es ON u.id = es.uid AND es.is_delete = 0
                 LEFT JOIN (
            SELECT *
            FROM expected_position
            WHERE status_id = (SELECT es.id
                               FROM onboarding AS o
                                        LEFT JOIN recruit_process_instance AS rpi
                                                  ON o.recruit_process_instance_id = rpi.id AND rpi.is_delete = 0
                                        LEFT JOIN apply_job AS aj
                                                  ON rpi.id = aj.recruit_process_instance_id AND aj.is_delete = 0
                                        LEFT JOIN yy_user AS u ON aj.applicant = u.id AND u.is_delete = 0
                                        LEFT JOIN employ_status AS es ON u.id = es.uid AND es.is_delete = 0
                               WHERE o.id = #{id})
            ORDER BY create_time DESC LIMIT 1
        ) AS ep
                           ON es.id = ep.status_id
                 LEFT JOIN position AS p1 ON ep.position_code = p1.code AND p1.is_delete = 0
                 LEFT JOIN (
            SELECT *
            FROM expected_work_area
            WHERE status_id = (SELECT es.id
                               FROM onboarding AS o
                                        LEFT JOIN recruit_process_instance AS rpi
                                                  ON o.recruit_process_instance_id = rpi.id AND rpi.is_delete = 0
                                        LEFT JOIN apply_job AS aj
                                                  ON rpi.id = aj.recruit_process_instance_id AND aj.is_delete = 0
                                        LEFT JOIN yy_user AS u
                                                  ON aj.applicant = u.id AND u.is_delete = 0
                                        LEFT JOIN employ_status AS es ON u.id = es.uid AND es.is_delete = 0
                               WHERE o.id = #{id})
            ORDER BY create_time DESC LIMIT 1
        ) AS ewa ON es.id = ewa.status_id
                 LEFT JOIN district_data AS d1 ON ewa.city_code = d1.code AND d1.is_delete = 0
                 LEFT JOIN yy_user_name_visible_info AS nv ON u.id = nv.uid AND nv.is_delete = 0
                 LEFT JOIN job AS j ON aj.job_id = j.id AND j.is_delete = 0
                 LEFT JOIN position AS p2 ON j.position_code = p2.code AND p2.is_delete = 0
                 LEFT JOIN district_data AS d2 ON o.country_code = d2.code AND d2.is_delete = 0
                 LEFT JOIN district_data AS d3 ON o.province_code = d3.code AND d3.is_delete = 0
                 LEFT JOIN district_data AS d4 ON o.city_code = d4.code AND d4.is_delete = 0
        WHERE o.id = #{id}
          AND o.is_delete = 0
    </select>

    <!--  查询转正邀约详情  -->
    <select id="confirmationDetail" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.vo.candidate.CandidateConfirmationDetailVo">
        SELECT c.id,
               u.avatar,
               nv.last_name         AS lastName,
               nv.first_name        AS firstName,
               u.gender,
               u.personal_signature AS personalSignature,
               p1.name              AS positionName,
               ep.min_salary        AS minSalary,
               ep.max_salary        AS maxSalary,
               d1.name              AS cityName,
               p2.name              AS associationPositionName,
               j.min_salary         AS associationPositionMinSalary,
               j.max_salary         AS associationPositionMaxSalary,
               c.confirmation_time  AS confirmationTime,
               c.salary,
               c.note,
               c.acceptance_status  AS acceptanceStatus,
               c.completion_status  AS completionStatus
        FROM confirmation AS c
                 LEFT JOIN recruit_process_instance AS rpi
                           ON c.recruit_process_instance_id = rpi.id AND rpi.is_delete = 0
                 LEFT JOIN apply_job AS aj ON rpi.id = aj.recruit_process_instance_id AND aj.is_delete = 0
                 LEFT JOIN yy_user AS u ON aj.applicant = u.id AND u.is_delete = 0
                 LEFT JOIN employ_status AS es ON u.id = es.uid AND es.is_delete = 0
                 LEFT JOIN (
            SELECT *
            FROM expected_position
            WHERE status_id = (SELECT es.id
                               FROM confirmation AS c
                                        LEFT JOIN recruit_process_instance AS rpi
                                                  ON c.recruit_process_instance_id = rpi.id AND rpi.is_delete = 0
                                        LEFT JOIN apply_job AS aj
                                                  ON rpi.id = aj.recruit_process_instance_id AND aj.is_delete = 0
                                        LEFT JOIN yy_user AS u ON aj.applicant = u.id AND u.is_delete = 0
                                        LEFT JOIN employ_status AS es ON u.id = es.uid AND es.is_delete = 0
                               WHERE c.id = #{id})
            ORDER BY create_time DESC LIMIT 1
        ) AS ep
                           ON es.id = ep.status_id
                 LEFT JOIN position AS p1 ON ep.position_code = p1.code AND p1.is_delete = 0
                 LEFT JOIN (
            SELECT *
            FROM expected_work_area
            WHERE status_id = (SELECT es.id
                               FROM confirmation AS c
                                        LEFT JOIN recruit_process_instance AS rpi
                                                  ON c.recruit_process_instance_id = rpi.id AND rpi.is_delete = 0
                                        LEFT JOIN apply_job AS aj
                                                  ON rpi.id = aj.recruit_process_instance_id AND aj.is_delete = 0
                                        LEFT JOIN yy_user AS u
                                                  ON aj.applicant = u.id AND u.is_delete = 0
                                        LEFT JOIN employ_status AS es ON u.id = es.uid AND es.is_delete = 0
                               WHERE c.id = #{id})
            ORDER BY create_time DESC LIMIT 1
        ) AS ewa ON es.id = ewa.status_id
                 LEFT JOIN district_data AS d1 ON ewa.city_code = d1.code AND d1.is_delete = 0
                 LEFT JOIN yy_user_name_visible_info AS nv ON u.id = nv.uid AND nv.is_delete = 0
                 LEFT JOIN job AS j ON aj.job_id = j.id AND j.is_delete = 0
                 LEFT JOIN position AS p2 ON j.position_code = p2.code AND p2.is_delete = 0
        WHERE c.id = #{id}
          AND c.is_delete = 0
    </select>
</mapper>
