<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.DictionaryMapper">

    <!--  根据dictCode和dictValue翻译字典  -->
    <select id="translateDict" resultType="java.lang.String">
        SELECT d.dict_name
        FROM yy_dictionary_category dc,
             yy_dictionary d
        WHERE dc.id = d.category_id
          AND dc.category_code = #{categoryCode}
          AND d.dict_value = #{fieldValue}
    </select>

    <!--  根据字典分类查询字典列表  -->
    <select id="queryListByCategory" parameterType="java.lang.String"
            resultType="com.korant.youya.workplace.pojo.DictVo">
        SELECT d.dict_name AS name, d.dict_value AS value
        FROM yy_dictionary_category dc,
            yy_dictionary d
        WHERE dc.id = d.category_id
          AND dc.category_code = #{category}
          AND d.is_delete = 0
    </select>
</mapper>
