<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.DistrictDataMapper">

    <!--  查出所有地区信息  -->
    <select id="queryAllData" resultType="com.korant.youya.workplace.pojo.vo.district.DistrictDataTreeVo">
        SELECT id, pid, name, code
        FROM district_data
        WHERE is_delete = 0
        ORDER BY code
    </select>

    <!--  查询所有地区数据按缩略词排序  -->
    <select id="queryAllDataSortedByAcronym" resultType="com.korant.youya.workplace.pojo.vo.district.DistrictDataVo">
        SELECT id,
               name,
               code,
               level,
               UPPER(LEFT (pinyin, 1)) AS acronym,
               RANK()                     OVER (PARTITION BY pinyin) AS rank
        FROM district_data
        where name != '不限' AND is_delete = 0;
    </select>
</mapper>
