<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.EmployStatusMapper">

    <resultMap id="queryPersonalHuntJobIntentionMap"
               type="com.korant.youya.workplace.pojo.vo.employstatus.PersonalHuntJobIntentionVo">
        <id column="id" property="id"/>
        <result column="status" property="status"/>
        <collection property="expectedPositionVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.expectedposition.PersonalExpectedPositionVo">
            <id column="positionId" property="positionId"/>
            <result column="industryName" property="industryName"/>
            <result column="typeName" property="typeName"/>
            <result column="sectorName" property="sectorName"/>
            <result column="positionName" property="positionName"/>
            <result column="industryCode" property="industryCode"/>
            <result column="typeCode" property="typeCode"/>
            <result column="sectorCode" property="sectorCode"/>
            <result column="positionCode" property="positionCode"/>
            <result column="minSalary" property="minSalary"/>
            <result column="maxSalary" property="maxSalary"/>
        </collection>
        <collection property="expectedWorkAreaVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.expectedworkarea.PersonalExpectedWorkAreaVo">
            <id column="areaId" property="areaId"/>
            <result column="countryName" property="countryName"/>
            <result column="provinceName" property="provinceName"/>
            <result column="cityName" property="cityName"/>
            <result column="countryCode" property="countryCode"/>
            <result column="provinceCode" property="provinceCode"/>
            <result column="cityCode" property="cityCode"/>
        </collection>
    </resultMap>

    <!--  查询个人求职意向  -->
    <select id="queryPersonalHuntJobIntention" parameterType="java.lang.Long"
            resultMap="queryPersonalHuntJobIntentionMap">
        SELECT es.id,
               es.status,
               ep.id             AS positionId,
               p1.name           AS industryName,
               p2.name           AS sectorName,
               p3.name           AS positionName,
               p4.name           AS typeName,
               ep.industry_code  AS industryCode,
               ep.type_code  AS typeCode,
               ep.sector_code    AS sectorCode,
               ep.position_code  AS positionCode,
               ep.min_salary     AS minSalary,
               ep.max_salary     AS maxSalary,
               ewa.id            AS areaId,
               d1.name           AS countryName,
               d2.name           AS provinceName,
               d3.name           AS cityName,
               ewa.country_code  AS countryCode,
               ewa.province_code AS provinceCode,
               ewa.city_code     AS cityCode
        FROM employ_status AS es
                 LEFT JOIN expected_position AS ep ON es.id = ep.status_id AND ep.is_delete = 0
                 LEFT JOIN position AS p1 ON ep.industry_code = p1.code AND p1.is_delete = 0
                 LEFT JOIN position AS p2 ON ep.sector_code = p2.code AND p2.is_delete = 0
                 LEFT JOIN position AS p3 ON ep.position_code = p3.code AND p3.is_delete = 0
                 LEFT JOIN position AS p4 ON ep.type_code = p4.code AND p4.is_delete = 0
                 LEFT JOIN expected_work_area AS ewa ON es.id = ewa.status_id AND ewa.is_delete = 0
                 LEFT JOIN district_data d1 ON d1.code = ewa.country_code AND d1.is_delete = 0
                 LEFT JOIN district_data d2 ON d2.code = ewa.province_code AND d2.is_delete = 0
                 LEFT JOIN district_data d3 ON d3.code = ewa.city_code AND d3.is_delete = 0
        WHERE es.uid = #{userId}
          AND es.is_delete = 0
    </select>
</mapper>
