<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.EnterpriseAuditRecordMapper">

    <!--    查询企业审核未通过原因-->
    <select id="getRefuseReason" resultType="java.lang.String">
        SELECT
            refuse_reason
        FROM
            enterprise_audit_record
        WHERE enterprise_id = #{id}
            AND is_delete = 0
            AND operate = 1
    </select>

</mapper>
