<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.EnterpriseMapper">

    <!--  修改企业logo  -->
    <update id="modifyLogo">
        UPDATE enterprise
        SET logo        = #{modifyLogoDto.logo},
            update_time = CURRENT_TIMESTAMP
        WHERE id = #{modifyLogoDto.id}
    </update>

    <!--  修改企业  -->
    <update id="modify">
        UPDATE enterprise
        SET ent_type        = #{modifyDto.entType},
            scale           = #{modifyDto.scale},
            financing_stage  = #{modifyDto.financingStage},
            website         = #{modifyDto.website},
            introduction    = #{modifyDto.introduction},
            phone           = #{modifyDto.phone},
            email           = #{modifyDto.email},
            country_code    = #{modifyDto.countryCode},
            province_code   = #{modifyDto.provinceCode},
            city_code       = #{modifyDto.cityCode},
            district_code   = #{modifyDto.districtCode},
            contact_address = #{modifyDto.contactAddress},
            update_time     = CURRENT_TIMESTAMP
        WHERE id = #{modifyDto.id}
    </update>

    <!--    根据当前登陆用户查询企业信息-->
    <select id="queryEnterpriseInfoByUser"
            resultType="com.korant.youya.workplace.pojo.vo.enterprise.EnterpriseInfoByUserVo">
        SELECT e.id, e.name, e.auth_status AS authStatus
        FROM
            enterprise e
        LEFT JOIN yy_user_enterprise yue    ON  e.id = yue.enterprise_id
        WHERE yue.uid = #{userId}
          AND e.is_delete = 0
          AND yue.is_delete = 0
    </select>

    <!--    查询企业详细信息-->
    <select id="detail" resultType="com.korant.youya.workplace.pojo.vo.enterprise.EnterpriseDetailVo">
        SELECT e.id,
               e.name,
               e.social_credit_code AS socialCreditCode,
               e.establish_date     AS establishDate,
               e.corporation,
               e.register_address   AS registerAddress,
               e.logo,
               e.ent_type           AS entType,
               e.scale,
               e.financing_stage    AS financingStage,
               e.website,
               e.introduction,
               e.power_of_attorney  AS powerOfAttorney,
               e.business_license   AS businessLicense,
               e.phone,
               e.email,
               dp1.name             AS countryName,
               dp2.name             AS provinceName,
               dp3.name             AS cityName,
               dp4.name             AS districtName,
               e.contact_address    AS contactAddress,
               e.auth_status        AS authStatus
        FROM
            enterprise e
                LEFT JOIN   district_data dp1 ON dp1.code = e.country_code  AND dp1.is_delete = 0
                LEFT JOIN   district_data dp2 ON dp2.code = e.province_code AND dp2.is_delete = 0
                LEFT JOIN   district_data dp3 ON dp3.code = e.city_code AND dp3.is_delete = 0
                LEFT JOIN   district_data dp4 ON dp4.code = e.district_code AND dp4.is_delete = 0
        WHERE e.id = #{id}
          AND e.is_delete = 0
    </select>

    <select id="getEnterpriseByName"
            resultType="com.korant.youya.workplace.pojo.vo.enterprise.EnterpriseInfoByNameVo">
        SELECT id, name
        FROM
            enterprise
        WHERE name like CONCAT('%', #{name},'%')
          AND is_delete = 0
        ORDER BY create_time DESC LIMIT #{pageSize}
        OFFSET (#{pageNumber} -1) * #{pageSize}
    </select>

</mapper>
