<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.EnterpriseMapper">

    <resultMap id="queryEnterpriseStructureInfoByAdminMap"
               type="com.korant.youya.workplace.pojo.vo.enterprise.EnterpriseStructureInfoVo">
        <id column="id" property="id"/>
        <result column="entType" property="entType"/>
        <result column="scale" property="scale"/>
        <result column="financingStage" property="financingStage"/>
        <result column="website" property="website"/>
        <result column="introduction" property="introduction"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="countryName" property="countryName"/>
        <result column="provinceName" property="provinceName"/>
        <result column="cityName" property="cityName"/>
        <result column="districtName" property="districtName"/>
        <result column="contactAddress" property="contactAddress"/>
        <result column="hrNumber" property="hrNumber"/>
        <result column="employeeNumber" property="employeeNumber"/>
        <result column="contactAddress" property="contactAddress"/>
        <collection property="hrAvatarList" javaType="java.util.List" ofType="java.lang.String">
            <id column="hrAvatar"/>
        </collection>
        <collection property="employeeAvatarList" javaType="java.util.List" ofType="java.lang.String">
            <id column="employeeAvatar"/>
        </collection>
    </resultMap>

    <!--  查询企业员工数量  -->
    <select id="queryEmployeeListCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM yy_user_enterprise AS ue
                 LEFT JOIN yy_user_role AS ur ON ue.uid = ur.uid AND ur.is_delete = 0
                 LEFT JOIN yy_role AS r ON ur.rid = r.id AND r.is_delete = 0
        WHERE ue.uid != #{userId}
          AND ue.enterprise_id = #{enterpriseId}
          AND ue.is_delete = 0
    </select>

    <!--  查询企业员工列表  -->
    <select id="queryEmployeeList" resultType="com.korant.youya.workplace.pojo.vo.enterprise.EmployeeVo">
        SELECT u.id,
               u.avatar,
               u.last_name  AS lastName,
               u.first_name AS firstName,
               u.phone,
               r.role_name  AS roleName
        FROM yy_user_enterprise AS ue
                 LEFT JOIN yy_user AS u ON ue.uid = u.id AND u.is_delete = 0
                 LEFT JOIN yy_user_role AS ur ON ue.uid = ur.uid AND ur.is_delete = 0
                 LEFT JOIN yy_role AS r ON ur.rid = r.id AND r.is_delete = 0
        WHERE ue.uid != #{userId}
          AND ue.enterprise_id = #{enterpriseId}
          AND ue.is_delete = 0
        ORDER BY ue.create_time DESC LIMIT #{queryEmployeeListDto.pageSize}
        OFFSET (#{queryEmployeeListDto.pageNumber} -1) * #{queryEmployeeListDto.pageSize}
    </select>

    <!--  查询企业hr数量  -->
    <select id="queryHRListCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM yy_user_enterprise AS ue
        LEFT JOIN yy_user AS u ON ue.uid = u.id AND u.is_delete = 0
        LEFT JOIN yy_user_role AS ur ON ue.uid = ur.uid AND ur.is_delete = 0
        LEFT JOIN yy_role AS r ON ur.rid = r.id AND r.is_delete = 0
        <where>
            ue.uid != #{userId}
            AND ue.enterprise_id = #{enterpriseId}
            <if test="queryHRListDto.name != ''">
                AND (u.last_name || u.first_name) LIKE concat('%', #{queryHRListDto.name}, '%')
            </if>
            AND r.role_name = 'hr'
            AND ue.is_delete = 0
        </where>
    </select>

    <!--  查询企业hr列表  -->
    <select id="queryHRList" resultType="com.korant.youya.workplace.pojo.vo.enterprise.HRVo">
        SELECT u.id,
        u.avatar,
        u.last_name AS lastName,
        u.first_name AS firstName,
        u.phone
        FROM yy_user_enterprise AS ue
        LEFT JOIN yy_user AS u ON ue.uid = u.id AND u.is_delete = 0
        LEFT JOIN yy_user_role AS ur ON ue.uid = ur.uid AND ur.is_delete = 0
        LEFT JOIN yy_role AS r ON ur.rid = r.id AND r.is_delete = 0
        <where>
            ue.uid != #{userId}
            AND ue.enterprise_id = #{enterpriseId}
            <if test="queryHRListDto.name != ''">
                AND (u.last_name || u.first_name) LIKE concat('%', #{queryHRListDto.name}, '%')
            </if>
            AND r.role_name = 'hr'
            AND ue.is_delete = 0
            ORDER BY ue.create_time DESC LIMIT #{queryHRListDto.pageSize}
            OFFSET (#{queryHRListDto.pageNumber} -1) * #{queryHRListDto.pageSize}
        </where>
    </select>

    <!--  查询企业代办事项  -->
    <select id="queryPendingApprovalList"
            resultType="com.korant.youya.workplace.pojo.vo.enterprise.EnterprisePendingApprovalVo">
        SELECT et.id,
               u.avatar,
               u.last_name    AS lastName,
               u.first_name   AS firstName,
               u.phone,
               et.event_type  AS eventType,
               et.create_time AS createTime
        FROM enterprise_todo AS et
                 LEFT JOIN yy_user AS u ON et.uid = u.id AND u.is_delete = 0
        WHERE et.enterprise_id = #{enterpriseId}
          AND et.operate = 0
          AND et.is_delete = 0
        ORDER BY et.create_time DESC LIMIT #{queryPendingApprovalListDto.pageSize}
        OFFSET (#{queryPendingApprovalListDto.pageNumber} -1) * #{queryPendingApprovalListDto.pageSize}
    </select>

    <!--  根据企业id查找管理员id  -->
    <select id="queryAdminIdByEnterpriseId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT u.id
        FROM yy_user_enterprise AS ue
                 LEFT JOIN yy_user AS u ON ue.uid = u.id AND u.is_delete = 0
                 LEFT JOIN yy_user_role AS ur ON ue.uid = ur.uid AND ur.is_delete = 0
                 LEFT JOIN yy_role AS r ON ur.rid = r.id AND r.is_delete = 0
        WHERE ue.enterprise_id = #{enterpriseId}
          AND ue.is_delete = 0
          AND r.role_name = 'admin'
    </select>

    <!--  查询企业创建失败详情  -->
    <select id="queryCreateFailureDetail" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.vo.enterprise.EnterpriseCreateFailureDetailVo">
        SELECT e.id,
               t.reason,
               e.power_of_attorney AS powerOfAttorney,
               e.business_license  AS businessLicense
        FROM enterprise AS e
                 LEFT JOIN (SELECT enterprise_id AS enterpriseId,
                                   refuse_reason AS reason
                            FROM enterprise_audit_record
                            WHERE enterprise_id = #{enterpriseId}
                              AND operate = 1
                              AND is_delete = 0
                            ORDER BY create_time DESC LIMIT 1
        ) AS t ON e.id = t.enterpriseId
        WHERE e.id = #{enterpriseId}
          AND is_delete = 0
    </select>

    <!--  重新提交企业信息  -->
    <update id="resubmit" parameterType="com.korant.youya.workplace.pojo.dto.enterprise.EnterpriseResubmitDto">
        UPDATE enterprise
        SET name               = #{resubmitDto.name},
            social_credit_code = #{resubmitDto.socialCreditCode},
            establish_date     = #{resubmitDto.establishDate},
            corporation        = #{resubmitDto.corporation},
            register_address   = #{resubmitDto.registerAddress},
            power_of_attorney  = #{resubmitDto.powerOfAttorney},
            business_license   = #{resubmitDto.businessLicense},
            auth_status        = 0,
            update_time        = CURRENT_TIMESTAMP
        WHERE id = #{resubmitDto.id}
    </update>

    <!--  根据企业名称查询企业  -->
    <select id="queryEnterpriseByName" resultType="com.korant.youya.workplace.pojo.vo.enterprise.EnterpriseByNameVo">
        SELECT id,
               name AS enterpriseName
        FROM enterprise
        WHERE name LIKE concat('%', #{nameDto.enterpriseName}, '%')
          AND auth_status = 2
          AND is_delete = 0
    </select>

    <!--  修改企业logo  -->
    <update id="modifyLogo" parameterType="com.korant.youya.workplace.pojo.dto.enterprise.EnterpriseModifyLogoDto">
        UPDATE enterprise
        SET logo        = #{modifyLogoDto.logo},
            update_time = CURRENT_TIMESTAMP
        WHERE id = #{modifyLogoDto.id}
    </update>

    <!--  修改企业  -->
    <update id="modify" parameterType="com.korant.youya.workplace.pojo.dto.enterprise.EnterpriseModifyDto">
        UPDATE enterprise
        SET ent_type        = #{modifyDto.entType},
            scale           = #{modifyDto.scale},
            financing_stage = #{modifyDto.financingStage},
            website         = #{modifyDto.website},
            introduction    = #{modifyDto.introduction},
            phone           = #{modifyDto.phone},
            email           = #{modifyDto.email},
            country_code    = #{modifyDto.countryCode},
            province_code   = #{modifyDto.provinceCode},
            city_code       = #{modifyDto.cityCode},
            district_code   = #{modifyDto.districtCode},
            contact_address = #{modifyDto.contactAddress},
            update_time     = CURRENT_TIMESTAMP
        WHERE id = #{modifyDto.id}
    </update>

    <!--  根据hr身份查询企业信息  -->
    <select id="queryEnterpriseInfoByHR" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.vo.enterprise.EnterpriseInfoByLoginUserVo">
        SELECT e.id,
               e.name            AS enterpriseName,
               e.logo,
               e.ent_type        AS entType,
               e.scale,
               e.financing_stage AS financingStage,
               auth_status       AS authStatus,
               u.avatar,
               u.last_name       AS lastName,
               u.first_name      AS firstName,
               et.operate
        FROM enterprise AS e
                 LEFT JOIN (SELECT *
                            FROM enterprise_todo
                            WHERE enterprise_id = #{enterpriseId}
                              AND uid = #{userId}
                              AND operate != 1
                              AND is_delete = 0) AS et ON e.id = et.enterprise_id
                 LEFT JOIN yy_user_enterprise AS ue ON e.id = ue.enterprise_id AND ue.is_delete = 0
                 LEFT JOIN yy_user AS u ON ue.uid = u.id AND u.is_delete = 0
                 LEFT JOIN yy_user_role AS ur ON u.id = ur.uid AND ur.is_delete = 0
                 LEFT JOIN yy_role AS r ON ur.rid = r.id AND r.is_delete = 0
        WHERE e.id = #{enterpriseId}
          AND r.role_name = 'admin'
          AND e.is_delete = 0
    </select>

    <!--  根据管理员身份查询企业信息  -->
    <select id="queryEnterpriseInfoByAdmin" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.vo.enterprise.EnterpriseInfoByLoginUserVo">
        SELECT id,
               name            AS enterpriseName,
               logo,
               ent_type        AS entType,
               scale,
               financing_stage AS financingStage,
               auth_status     AS authStatus
        FROM enterprise
        WHERE id = #{enterpriseId}
          AND is_delete = 0
    </select>

    <!--  根据管理员身份查询企业结构信息  -->
    <select id="queryEnterpriseStructureInfoByAdmin"
            resultMap="queryEnterpriseStructureInfoByAdminMap">
        SELECT e.id,
               e.ent_type              AS entType,
               e.scale,
               e.financing_stage       AS financingStage,
               e.website,
               e.introduction,
               e.phone,
               e.email,
               dd1.name                AS countryName,
               dd2.name                AS provinceName,
               dd3.name                AS cityName,
               dd4.name                AS districtName,
               e.contact_address       AS contactAddress,
               (SELECT COUNT(1)
                FROM yy_user AS u
                         LEFT JOIN yy_user_enterprise AS ue ON u.id = ue.uid AND ue.is_delete = 0
                         LEFT JOIN yy_user_role AS ur ON u.id = ur.uid AND ur.is_delete = 0
                         LEFT JOIN yy_role AS r ON ur.rid = r.id AND r.is_delete = 0
                WHERE ue.enterprise_id = #{enterpriseId}
                  AND r.role_name = 'hr'
                  AND u.is_delete = 0) AS hrNumber,
               (SELECT COUNT(1)
                FROM yy_user AS u
                         LEFT JOIN yy_user_enterprise AS ue ON u.id = ue.uid AND ue.is_delete = 0
                         LEFT JOIN yy_user_role AS ur ON u.id = ur.uid AND ur.is_delete = 0
                         LEFT JOIN yy_role AS r ON ur.rid = r.id AND r.is_delete = 0
                WHERE ue.enterprise_id = #{enterpriseId}
                  AND r.role_name = 'employee'
                  AND u.is_delete = 0) AS employeeNumber,
               t1.avatar               AS hrAvatar,
               t2.avatar               AS employeeAvatar
        FROM enterprise AS e
                 LEFT JOIN district_data dd1 ON e.country_code = dd1.code AND dd1.is_delete = 0
                 LEFT JOIN district_data dd2 ON e.province_code = dd2.code AND dd2.is_delete = 0
                 LEFT JOIN district_data dd3 ON e.city_code = dd3.code AND dd3.is_delete = 0
                 LEFT JOIN district_data dd4 ON e.district_code = dd4.code AND dd4.is_delete = 0
                 LEFT JOIN (
            SELECT u.avatar,
                   ue.enterprise_id AS enterpriseId
            FROM yy_user AS u
                     LEFT JOIN yy_user_enterprise AS ue ON u.id = ue.uid AND ue.is_delete = 0
                     LEFT JOIN yy_user_role AS ur ON u.id = ur.uid AND ur.is_delete = 0
                     LEFT JOIN yy_role AS r ON ur.rid = r.id AND r.is_delete = 0
            WHERE ue.enterprise_id = #{enterpriseId}
              AND r.role_name = 'hr'
              AND u.is_delete = 0
            ORDER BY ue.create_time DESC LIMIT 5
        ) AS t1 ON e.id = t1.enterpriseId
                 LEFT JOIN (
            SELECT u.avatar,
                   ue.enterprise_id AS enterpriseId
            FROM yy_user AS u
                     LEFT JOIN yy_user_enterprise AS ue ON u.id = ue.uid AND ue.is_delete = 0
                     LEFT JOIN yy_user_role AS ur ON u.id = ur.uid AND ur.is_delete = 0
                     LEFT JOIN yy_role AS r ON ur.rid = r.id AND r.is_delete = 0
            WHERE ue.enterprise_id = #{enterpriseId}
              AND r.role_name = 'employee'
              AND u.is_delete = 0
            ORDER BY ue.create_time DESC LIMIT 5
        ) AS t2 ON e.id = t2.enterpriseId
        WHERE e.id = #{enterpriseId}
          AND e.is_delete = 0
    </select>

    <!--  根据hr身份查询企业结构信息  -->
    <select id="queryEnterpriseStructureInfoByHR"
            resultType="com.korant.youya.workplace.pojo.vo.enterprise.EnterpriseStructureInfoVo">
        SELECT e.id,
               e.ent_type        AS entType,
               e.scale,
               e.financing_stage AS financingStage,
               e.website,
               e.introduction,
               e.phone,
               e.email,
               dd1.name          AS countryName,
               dd2.name          AS provinceName,
               dd3.name          AS cityName,
               dd4.name          AS districtName,
               e.contact_address AS contactAddress
        FROM enterprise AS e
                 LEFT JOIN district_data dd1 ON e.country_code = dd1.code AND dd1.is_delete = 0
                 LEFT JOIN district_data dd2 ON e.province_code = dd2.code AND dd2.is_delete = 0
                 LEFT JOIN district_data dd3 ON e.city_code = dd3.code AND dd3.is_delete = 0
                 LEFT JOIN district_data dd4 ON e.district_code = dd4.code AND dd4.is_delete = 0
        WHERE e.id = #{enterpriseId}
          AND e.is_delete = 0
    </select>

    <!--  查询企业基础信息  -->
    <select id="queryEnterpriseBasicInfo" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.vo.enterprise.EnterpriseBasicInfoVo">
        SELECT e.id,
               e.ent_type        AS entType,
               e.scale,
               e.financing_stage AS financingStage,
               e.website,
               e.introduction,
               e.phone,
               e.email,
               dd1.name          AS countryName,
               dd2.name          AS provinceName,
               dd3.name          AS cityName,
               dd4.name          AS districtName,
               e.country_code    AS countryCode,
               e.province_code   AS provinceCode,
               e.city_code       AS cityCode,
               e.district_code   AS districtCode,
               e.contact_address AS contactAddress
        FROM enterprise AS e
                 LEFT JOIN district_data dd1 ON e.country_code = dd1.code AND dd1.is_delete = 0
                 LEFT JOIN district_data dd2 ON e.province_code = dd2.code AND dd2.is_delete = 0
                 LEFT JOIN district_data dd3 ON e.city_code = dd3.code AND dd3.is_delete = 0
                 LEFT JOIN district_data dd4 ON e.district_code = dd4.code AND dd4.is_delete = 0
        WHERE e.id = #{enterpriseId}
          AND e.is_delete = 0
    </select>

    <!--  查询企业营业执照信息  -->
    <select id="queryEnterpriseBusinessLicense" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.vo.enterprise.EnterpriseBusinessLicenseVo">
        SELECT id,
               name,
               logo,
               social_credit_code AS socialCreditCode,
               establish_date     AS establishDate,
               corporation,
               register_address   AS registerAddress,
               business_license   AS businessLicense
        FROM enterprise
        WHERE id = #{enterpriseId}
          AND is_delete = 0
    </select>
</mapper>
