<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.ExpectedWorkAreaMapper">

    <insert id="insertBatch">
        INSERT INTO expected_work_area(status_id, country_code, province_code, city_code, district_code, create_time, is_delete) VALUES
        <foreach collection="workAreaCreateDtoList" item="item" index="index" separator=",">
            (#{id}, #{item.countryCode}, #{item.provinceCode}, #{item.cityCode}, #{item.districtCode}, NOW(), 0)
        </foreach>
    </insert>

    <!--    删除期望工作区域-->
    <update id="updateByStatus">
        UPDATE
            expected_work_area
        SET is_delete = 1,
            update_time = CURRENT_TIMESTAMP
        WHERE status_id = #{id}
    </update>

    <!--    查询用户期望工作区域-->
    <select id="queryList"
            resultType="com.korant.youya.workplace.pojo.vo.expectedworkarea.ExpectedWorkAreaInfoVo">
        SELECT
            ewa.id,
            ewa.country_code           AS countryCode,
            dp1.name                   AS countryName,
            ewa.province_code          AS provinceCode,
            dp2.name                   AS provinceName,
            ewa.city_code              AS cityCode,
            dp3.name                   AS cityName,
            ewa.district_code          AS districtCode,
            dp4.name                   AS districtName
        FROM   expected_work_area ewa
                    LEFT JOIN   employ_status es ON es.id = ewa.status_id             AND es.is_delete = 0
                    LEFT JOIN   district_data dp1 ON dp1.code = ewa.country_code      AND dp1.is_delete = 0
                    LEFT JOIN   district_data dp2 ON dp2.code = ewa.province_code     AND dp2.is_delete = 0
                    LEFT JOIN   district_data dp3 ON dp3.code = ewa.city_code         AND dp3.is_delete = 0
                    LEFT JOIN   district_data dp4 ON dp4.code = ewa.district_code     AND dp4.is_delete = 0
        WHERE   es.uid = #{userId}
          AND ewa.is_delete = 0
        ORDER BY ewa.create_time DESC
    </select>

    <!--    查询用户期望工作区域总数-->
    <select id="selectCountByUserId" resultType="java.lang.Long">
        SELECT
            COUNT(DISTINCT ewa.id)
        FROM   expected_work_area ewa
                   LEFT JOIN   employ_status es ON es.id = ewa.status_id              AND es.is_delete = 0
        WHERE   es.uid = #{userId}
          AND ewa.is_delete = 0
    </select>

</mapper>
