<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.ExpectedPositionMapper">

    <insert id="insertBatch">
        INSERT INTO expected_position(status_id, industry_code, sector_code, position_code, min_salary, max_salary, create_time, is_delete) VALUES
        <foreach collection="positionCreateDtoList" item="item" index="index" separator=",">
            (#{id}, #{item.industryCode}, #{item.sectorCode}, #{item.positioncode}, #{item.minSalary}, #{item.maxSalary}, NOW(), 0)
        </foreach>
    </insert>

    <!--    删除期望职位-->
    <update id="updateByStatus">
        UPDATE
            expected_position
        SET is_delete = 1,
            update_time = CURRENT_TIMESTAMP
        WHERE status_id = #{id}
    </update>

    <!--    查询用户的所有意向职位-->
    <select id="findExpectedPositionInfo"
            resultType="com.korant.youya.workplace.pojo.vo.expectedposition.ExpectedPositionInfoVo">
        SELECT
            ep.id,
            ep.industry_code            AS industryCode,
            p1.name                     AS industryName,
            ep.sector_code              AS sectorCode,
            p2.name                     AS sectorName,
            ep.position_code            AS positionCode,
            p3.name                     AS positionName,
            ep.min_salary               AS minSalary,
            ep.max_salary               AS maxSalary
        FROM    expected_position ep
                    LEFT JOIN   employ_status es ON es.id = ep.status_id           AND es.is_delete = 0
                    LEFT JOIN   position p1 ON p1.code = ep.industry_code             AND p1.is_delete = 0
                    LEFT JOIN   position p2 ON p2.code = ep.sector_code           AND p2.is_delete = 0
                    LEFT JOIN   position p3 ON p3.code = ep.position_code             AND p3.is_delete = 0
        WHERE   es.uid = #{userId}
          AND ep.is_delete = 0
        ORDER BY ep.create_time DESC
    </select>
    <select id="queryCountByPositionCode" resultType="java.lang.Long">
    </select>
    <select id="queryListByPositionCode"
            resultType="com.korant.youya.workplace.pojo.vo.expectedposition.ExpectedPositionInfoByPositionCodeVo">
        SELECT
            yu.id,
            yu.avatar,
            yu.last_name            AS lastName,
            yu.first_name           AS firstName,
            yu.personal_signature   AS personalSignature,
            ep.min_salary           AS minSalary,
            ep.max_salary           AS maxSalary,
            p.name                  AS positionName,
            dd1.name                AS cityName,
            dd2.name                AS districtName
        FROM yy_user yu
                 LEFT JOIN employ_status es ON yu.id = es.uid AND es.is_delete = 0
                 LEFT JOIN (
            SELECT
                status_id, position_code, min_salary, max_salary,
                ROW_NUMBER() OVER (PARTITION BY status_id ORDER BY create_time) as rn
            FROM expected_position
            WHERE is_delete = 0
        ) ep ON es.id = ep.status_id AND ep.rn = 1
                 LEFT JOIN (
            SELECT
                status_id, city_code, district_code,
                ROW_NUMBER() OVER (PARTITION BY status_id ORDER BY create_time) as rn
            FROM expected_work_area
            WHERE is_delete = 0
        ) ewa ON es.id = ewa.status_id AND ewa.rn = 1
                 LEFT JOIN position p	ON ep.position_code = p.code AND p.is_delete = 0
                 LEFT JOIN district_data dd1	ON ewa.city_code = dd1.code AND dd1.is_delete = 0
                 LEFT JOIN district_data dd2	ON ewa.district_code = dd2.code AND dd2.is_delete = 0
                 RIGHT JOIN	(
            SELECT  DISTINCT yu.id
            FROM yy_user yu
                     LEFT JOIN employ_status es ON yu.id = es.uid AND es.is_delete = 0
                     LEFT JOIN expected_position ep ON es.id = ep.status_id AND es.is_delete = 0
            WHERE	ep.position_code = #{positionCode}
              AND yu.is_delete = 0
        ) A ON yu.id = A.id
        ORDER BY yu.create_time DESC LIMIT #{pageSize}
        OFFSET (#{pageNumber} -1) * #{pageSize}
    </select>
</mapper>
