<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.ExpectedPositionMapper">

    <insert id="insertBatch">
        INSERT INTO expected_position(status_id, industry_code, sector_code, position_code, min_salary, max_salary, create_time, is_delete) VALUES
        <foreach collection="positionCreateDtoList" item="item" index="index" separator=",">
            (#{id}, #{item.industryCode}, #{item.sectorCode}, #{item.positioncode}, #{item.minSalary}, #{item.maxSalary}, NOW(), 0)
        </foreach>
    </insert>

    <!--    查询用户的所有意向职位-->
    <select id="findExpectedPositionInfo"
            resultType="com.korant.youya.workplace.pojo.vo.expectedposition.ExpectedPositionInfoVo">
        SELECT
            ep.id,
            ep.industry_code            AS industryCode,
            p1.name                     AS industryName,
            ep.sector_code              AS sectorCode,
            p2.name                     AS sectorName,
            ep.position_code            AS positionCode,
            p3.name                     AS positionName,
            ep.min_salary               AS minSalary,
            ep.max_salary               AS maxSalary
        FROM    expected_position ep
                    LEFT JOIN   employ_status es ON es.id = ep.status_id           AND es.is_delete = 0
                    LEFT JOIN   position p1 ON p1.code = ep.industry_code             AND p1.is_delete = 0
                    LEFT JOIN   position p2 ON p2.code = ep.sector_code           AND p2.is_delete = 0
                    LEFT JOIN   position p3 ON p3.code = ep.position_code             AND p3.is_delete = 0
        WHERE   es.uid = #{userId}
          AND ep.is_delete = 0
        ORDER BY ep.create_time DESC
    </select>

</mapper>
