<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.HuntJobMapper">

    <resultMap id="previewMap" type="com.korant.youya.workplace.pojo.vo.huntjob.HuntJobPublishPreviewVo">
        <result column="avatar" property="avatar"/>
        <result column="lastName" property="lastName"/>
        <result column="firstName" property="firstName"/>
        <result column="gender" property="gender"/>
        <result column="personalSignature" property="personalSignature"/>
        <result column="age" property="age"/>
        <result column="schoolName" property="schoolName"/>
        <result column="eduLevel" property="eduLevel"/>
        <result column="workExperience" property="workExperience"/>
        <result column="employStatus" property="employStatus"/>
        <result column="selfEvaluation" property="selfEvaluation"/>
        <result column="phone" property="phone"/>
        <result column="wechatId" property="wechatId"/>
        <result column="qq" property="qq"/>
        <result column="email" property="email"/>
        <result column="countryName" property="countryName"/>
        <result column="provinceName" property="provinceName"/>
        <result column="cityName" property="cityName"/>
        <result column="address" property="address"/>
        <collection property="workExperienceVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.workexperience.WorkExperiencePreviewVo"
                    resultMap="WorkExperienceVoMap">
        </collection>
    </resultMap>

    <resultMap id="WorkExperienceVoMap"
               type="com.korant.youya.workplace.pojo.vo.workexperience.WorkExperiencePreviewVo">
        <id column="weId" property="weId"/>
        <result column="enterpriseName" property="enterpriseName"/>
        <result column="departmentName" property="departmentName"/>
        <result column="positionName" property="positionName"/>
        <result column="startTime" property="startTime"/>
        <result column="endTime" property="endTime"/>
        <result column="content" property="content"/>
        <result column="performance" property="performance"/>
        <collection property="projectExperienceVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.projectexperience.ProjectExperiencePreviewVo"
                    resultMap="ProjectExperienceVoMap">
        </collection>
    </resultMap>

    <resultMap id="ProjectExperienceVoMap"
               type="com.korant.youya.workplace.pojo.vo.projectexperience.ProjectExperiencePreviewVo">
        <id column="peId" property="peId"/>
        <result column="projectName" property="projectName"/>
        <result column="projectRole" property="projectRole"/>
        <result column="projectContent" property="projectContent"/>
    </resultMap>

    <resultMap id="queryDetailOnHomePageByIdMap"
               type="com.korant.youya.workplace.pojo.vo.huntjob.HuntJobHomePageDetailVo">
        <id column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="avatar" property="avatar"/>
        <result column="lastName" property="lastName"/>
        <result column="firstName" property="firstName"/>
        <result column="gender" property="gender"/>
        <result column="personalSignature" property="personalSignature"/>
        <result column="age" property="age"/>
        <result column="eduLevel" property="eduLevel"/>
        <result column="workExperience" property="workExperience"/>
        <result column="minExpectedSalary" property="minExpectedSalary"/>
        <result column="maxExpectedSalary" property="maxExpectedSalary"/>
        <result column="award" property="award"/>
        <result column="employStatus" property="employStatus"/>
        <result column="description" property="description"/>
        <result column="phone" property="phone"/>
        <result column="wechatId" property="wechatId"/>
        <result column="qq" property="qq"/>
        <result column="email" property="email"/>
        <result column="countryName" property="countryName"/>
        <result column="provinceName" property="provinceName"/>
        <result column="cityName" property="cityName"/>
        <result column="address" property="address"/>
        <result column="isCollected" property="isCollected"/>
        <result column="isRecommend" property="isRecommend"/>
        <collection property="workExperienceVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.workexperience.WorkExperiencePreviewVo"
                    resultMap="WorkExperienceVoMap">
        </collection>
    </resultMap>

    <resultMap id="detailMap" type="com.korant.youya.workplace.pojo.vo.huntjob.HuntJobDetailsPreviewVo">
        <id column="id" property="id"/>
        <result column="avatar" property="avatar"/>
        <result column="lastName" property="lastName"/>
        <result column="firstName" property="firstName"/>
        <result column="gender" property="gender"/>
        <result column="personalSignature" property="personalSignature"/>
        <result column="age" property="age"/>
        <result column="eduLevel" property="eduLevel"/>
        <result column="workExperience" property="workExperience"/>
        <result column="minExpectedSalary" property="minExpectedSalary"/>
        <result column="maxExpectedSalary" property="maxExpectedSalary"/>
        <result column="award" property="award"/>
        <result column="employStatus" property="employStatus"/>
        <result column="description" property="description"/>
        <result column="phone" property="phone"/>
        <result column="wechatId" property="wechatId"/>
        <result column="qq" property="qq"/>
        <result column="email" property="email"/>
        <result column="countryName" property="countryName"/>
        <result column="provinceName" property="provinceName"/>
        <result column="cityName" property="cityName"/>
        <result column="address" property="address"/>
        <collection property="workExperienceVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.workexperience.WorkExperiencePreviewVo"
                    resultMap="WorkExperienceVoMap">
        </collection>
    </resultMap>

    <!--  查询首页求职数量  -->
    <select id="queryHomePageListCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM hunt_job AS hj
        LEFT JOIN expected_work_area AS ewa ON hj.area_id = ewa.id AND ewa.is_delete = 0
        LEFT JOIN expected_position AS ep ON hj.position_id = ep.id AND ep.is_delete = 0
        <where>
            hj.status = 1
            AND hj.is_delete = 0
            <if test="listDto.cityCode != ''">
                AND ewa.city_code = #{listDto.cityCode}
            </if>
            <if test="listDto.positionCode != ''">
                AND ep.position_code = #{listDto.positionCode}
            </if>
        </where>
    </select>

    <!--  查询首页求职列表  -->
    <select id="queryHomePageList" resultType="com.korant.youya.workplace.pojo.vo.huntjob.HuntJobHomePageVo">
        SELECT hj.id,
        hj.uid,
        u.avatar,
        nvi.last_name AS lastName,
        nvi.first_name AS firstName,
        u.gender,
        u.personal_signature AS personalSignature,
        p.name AS positionName,
        ep.min_salary AS minExpectedSalary,
        ep.max_salary AS maxExpectedSalary,
        dd1.name AS provinceName,
        dd2.name AS cityName,
        hj.award
        FROM hunt_job AS hj
        LEFT JOIN yy_user AS u ON hj.uid = u.id AND u.is_delete = 0
        LEFT JOIN yy_user_name_visible_info AS nvi ON u.id = nvi.uid AND nvi.is_delete = 0
        LEFT JOIN expected_work_area AS ewa ON hj.area_id = ewa.id AND ewa.is_delete = 0
        LEFT JOIN district_data dd1 ON dd1.code = ewa.province_code AND dd1.is_delete = 0
        LEFT JOIN district_data dd2 ON dd2.code = ewa.city_code AND dd2.is_delete = 0
        LEFT JOIN expected_position AS ep ON hj.position_id = ep.id AND ep.is_delete = 0
        LEFT JOIN position AS p ON ep.position_code = p.code AND p.is_delete = 0
        <where>
            hj.status = 1
            AND hj.is_delete = 0
            <if test="listDto.cityCode != ''">
                AND ewa.city_code = #{listDto.cityCode}
            </if>
            <if test="listDto.positionCode != ''">
                AND ep.position_code = #{listDto.positionCode}
            </if>
            ORDER BY hj.refresh_time DESC, hj.create_time DESC LIMIT #{listDto.pageSize}
            OFFSET (#{listDto.pageNumber} -1) * #{listDto.pageSize}
        </where>
    </select>

    <!--  查询首页求职数量  -->
    <select id="queryHomePageListCountByUserId" resultType="java.lang.Integer">
        SELECT COUNT(t1.*) FROM (SELECT hj.uid
        FROM hunt_job AS hj
        LEFT JOIN expected_work_area AS ewa ON hj.area_id = ewa.id AND ewa.is_delete = 0
        LEFT JOIN expected_position AS ep ON hj.position_id = ep.id AND ep.is_delete = 0
        <where>
            hj.status = 1
            AND hj.is_delete = 0
            <if test="listDto.cityCode != ''">
                AND ewa.city_code = #{listDto.cityCode}
            </if>
            <if test="listDto.positionCode != ''">
                AND ep.position_code = #{listDto.positionCode}
            </if>
        </where>
        )AS t1 WHERE NOT EXISTS (SELECT 1 FROM yy_user_blocked_enterprise AS se WHERE t1.uid = se.uid AND
        se.enterprise_id = #{enterpriseId} AND se.is_delete = 0)
    </select>

    <!--  查询首页求职列表  -->
    <select id="queryHomePageListByUserId" resultType="com.korant.youya.workplace.pojo.vo.huntjob.HuntJobHomePageVo">
        SELECT t1.id,
        t1.avatar,
        t1.lastName,
        t1.firstName,
        t1.gender,
        t1.personalSignature,
        t1.positionName,
        t1.minExpectedSalary,
        t1.maxExpectedSalary,
        t1.provinceName,
        t1.cityName,
        t1.award
        FROM (SELECT hj.id,
        hj.uid,
        u.avatar,
        nvi.last_name AS lastName,
        nvi.first_name AS firstName,
        u.gender,
        u.personal_signature AS personalSignature,
        p.name AS positionName,
        ep.min_salary AS minExpectedSalary,
        ep.max_salary AS maxExpectedSalary,
        dd1.name AS provinceName,
        dd2.name AS cityName,
        hj.award
        FROM hunt_job AS hj
        LEFT JOIN yy_user AS u ON hj.uid = u.id AND u.is_delete = 0
        LEFT JOIN yy_user_name_visible_info AS nvi ON u.id = nvi.uid AND nvi.is_delete = 0
        LEFT JOIN expected_work_area AS ewa ON hj.area_id = ewa.id AND ewa.is_delete = 0
        LEFT JOIN district_data dd1 ON dd1.code = ewa.province_code AND dd1.is_delete = 0
        LEFT JOIN district_data dd2 ON dd2.code = ewa.city_code AND dd2.is_delete = 0
        LEFT JOIN expected_position AS ep ON hj.position_id = ep.id AND ep.is_delete = 0
        LEFT JOIN position AS p ON ep.position_code = p.code AND p.is_delete = 0
        <where>
            hj.status = 1
            AND hj.is_delete = 0
            <if test="listDto.cityCode != ''">
                AND ewa.city_code = #{listDto.cityCode}
            </if>
            <if test="listDto.positionCode != ''">
                AND ep.position_code = #{listDto.positionCode}
            </if>
            ORDER BY hj.refresh_time DESC, hj.create_time DESC LIMIT #{listDto.pageSize}
            OFFSET (#{listDto.pageNumber} -1) * #{listDto.pageSize}
        </where>
        )AS t1 WHERE NOT EXISTS (SELECT 1 FROM yy_user_blocked_enterprise AS se WHERE t1.uid = se.uid AND
        se.enterprise_id = #{enterpriseId} AND se.is_delete = 0)
    </select>

    <!--  根据求职id查询首页求职信息详情  -->
    <select id="queryHomePageDetailById" parameterType="java.lang.Long" resultMap="queryDetailOnHomePageByIdMap">
        SELECT hj.id,
               u.id                 AS uid,
               u.avatar,
               nv.last_name         AS lastName,
               nv.first_name        AS firstName,
               u.gender,
               u.personal_signature AS personalSignature,
               (SELECT CASE
                           WHEN u.birthday IS NOT NULL THEN DATE_PART('year', AGE(NOW(), u.birthday))
                           ELSE NULL
                           END)     AS age,
               (SELECT edu_level
                FROM education_experience
                WHERE uid = u.id
                  AND is_delete = 0
                ORDER BY end_time DESC, start_time
                    DESC               LIMIT 1)                    AS eduLevel,
               (SELECT CASE
                           WHEN u.start_working_time IS NOT NULL
                               THEN DATE_PART('year', AGE(NOW(), to_date(u.start_working_time, 'YYYY-MM')))
                           ELSE NULL
                           END)      AS workExperience,
               ep.min_salary         AS minExpectedSalary,
               ep.max_salary         AS maxExpectedSalary,
               hj.award,
               es.status             AS employStatus,
               hj.description,
               ev.phone,
               ev.wechat_id          AS wechatId,
               ev.qq,
               ev.email,
               dd1.name              AS countryName,
               dd2.name              AS provinceName,
               dd3.name              AS cityName,
               ev.address,
               (SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
                FROM attention_hunt_job
                WHERE uid =
               #{userId}
            AND hunt_id =
               #{id}
            AND is_delete = 0) AS isCollected,
            (SELECT CASE WHEN COUNT (*) > 0 THEN 1 ELSE 0 END
            FROM internal_recommend
            WHERE referee =
               #{userId}
            AND hunt_id =
               #{id}
            AND is_delete = 0) AS isRecommend,
            we.id AS weId,
            we.enterprise_name AS enterpriseName,
            we.department_name AS departmentName,
            we.position_name AS positionName,
            we.start_time AS startTime,
            we.end_time AS endTime,
            we.content,
            we.performance,
            pe.id AS peId,
            pe.project_name AS projectName,
            pe.project_role AS projectRole,
            pe.project_content AS projectContent
        FROM hunt_job AS hj LEFT JOIN yy_user AS u
        ON hj.uid = u.id AND u.is_delete = 0
            LEFT JOIN expected_position AS ep ON hj.position_id = ep.id AND ep.is_delete = 0
            LEFT JOIN employ_status AS es ON u.id = es.uid AND es.is_delete = 0
            LEFT JOIN yy_user_name_visible_info AS nv ON u.id = nv.uid AND nv.is_delete = 0
            LEFT JOIN everyone_visible_info AS ev ON u.id = ev.uid AND ev.is_delete = 0
            LEFT JOIN district_data dd1 ON dd1.code = ev.country_code AND dd1.is_delete = 0
            LEFT JOIN district_data dd2 ON dd2.code = ev.province_code AND dd2.is_delete = 0
            LEFT JOIN district_data dd3 ON dd3.code = ev.city_code AND dd3.is_delete = 0
            LEFT JOIN work_experience AS we ON u.id = we.uid AND we.is_delete = 0
            LEFT JOIN project_experience AS pe ON we.id = pe.we_id AND pe.is_delete = 0
        WHERE hj.id = #{id}
    </select>

    <!--  查询hr列表  -->
    <select id="queryHRList" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.vo.huntjob.EnterpriseHRVo">
        SELECT u.id,
               u.last_name  AS lastName,
               u.first_name AS firstName
        FROM yy_user_enterprise AS ue
                 LEFT JOIN yy_user AS u ON ue.uid = u.id AND u.is_delete = 0
                 LEFT JOIN yy_user_role AS ur ON ue.uid = ur.uid AND ur.is_delete = 0
                 LEFT JOIN yy_role AS r ON ur.rid = r.id AND r.is_delete = 0
        WHERE ue.uid != #{userId}
          AND ue.enterprise_id = #{enterpriseId}
          AND r.role_name = 'hr'
          AND ue.is_delete = 0
    </select>

    <!--  根据id查询分享信息  -->
    <select id="queryShareInfo" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.vo.huntjob.HuntJobShareInfo">
        SELECT hj.id,
               u.avatar          AS applicantAvatar,
               nv.last_name      AS applicantLastName,
               nv.first_name     AS applicantFirstName,
               u.gender          AS applicantGender,
               u.self_evaluation AS selfEvaluation,
               (SELECT CASE
                           WHEN u.birthday IS NOT NULL THEN DATE_PART('year', AGE(NOW(), u.birthday))
                           ELSE NULL
                           END)  AS age,
               (SELECT edu_level
                FROM education_experience
                WHERE uid = u.id
                  AND is_delete = 0
                ORDER BY end_time DESC, start_time
                    DESC            LIMIT 1)                    AS eduLevel,
               (SELECT CASE
                           WHEN u.start_working_time IS NOT NULL
                               THEN DATE_PART('year', AGE(NOW(), u.start_working_time))
                           ELSE NULL
                           END)      AS workExperience,
              hj.award
        FROM hunt_job AS hj
            LEFT JOIN yy_user AS u
        ON hj.uid = u.id AND u.is_delete = 0
            LEFT JOIN yy_user_name_visible_info AS nv ON u.id = nv.uid AND nv.is_delete = 0
        WHERE hj.id = #{id}
    </select>

    <!--  查询用户个人求职列表  -->
    <select id="queryPersonalList" resultType="com.korant.youya.workplace.pojo.vo.huntjob.HuntJobPersonalVo">
        SELECT hj.id,
               p.name        AS positionName,
               dd1.name      AS provinceName,
               dd2.name      AS cityName,
               ep.min_salary AS minExpectedSalary,
               ep.max_salary AS maxExpectedSalary,
               hj.award,
               hj.status
        FROM hunt_job AS hj
                 LEFT JOIN expected_position AS ep ON hj.position_id = ep.id AND ep.is_delete = 0
                 LEFT JOIN position AS p ON ep.position_code = p.code
                 LEFT JOIN expected_work_area AS ewa ON hj.area_id = ewa.id AND ewa.is_delete = 0
                 LEFT JOIN district_data AS dd1 ON ewa.province_code = dd1.code AND dd1.is_delete = 0
                 LEFT JOIN district_data AS dd2 ON ewa.city_code = dd2.code AND dd2.is_delete = 0
        WHERE hj.uid = #{userId}
          AND hj.status = #{status}
          AND hj.is_delete = 0
        ORDER BY hj.create_time DESC LIMIT #{personalListDto.pageSize}
        OFFSET (#{personalListDto.pageNumber} -1) * #{personalListDto.pageSize}
    </select>

    <!--  查询个人意向职位列表  -->
    <select id="queryPersonalExpectedPositionList" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.vo.expectedposition.PersonalExpectedPositionVo">
        SELECT ep.id            AS positionId,
               p1.name          AS industryName,
               p2.name          AS sectorName,
               p3.name          AS positionName,
               ep.industry_code AS industryCode,
               ep.sector_code   AS sectorCode,
               ep.position_code AS positionCode,
               ep.min_salary    AS minSalary,
               ep.max_salary    AS maxSalary
        FROM employ_status AS es
                 LEFT JOIN expected_position AS ep ON es.id = ep.status_id AND ep.is_delete = 0
                 LEFT JOIN position AS p1 ON ep.industry_code = p1.code AND p1.is_delete = 0
                 LEFT JOIN position AS p2 ON ep.sector_code = p2.code AND p2.is_delete = 0
                 LEFT JOIN position AS p3 ON ep.position_code = p3.code AND p3.is_delete = 0
        WHERE es.uid = #{userId}
          AND es.is_delete = 0
    </select>

    <!--  查询个人意向区域列表  -->
    <select id="queryPersonalExpectedWorkAreaList" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.vo.expectedworkarea.PersonalExpectedWorkAreaVo">
        SELECT ewa.id            AS areaId,
               d1.name           AS countryName,
               d2.name           AS provinceName,
               d3.name           AS cityName,
               ewa.country_code  AS countryCode,
               ewa.province_code AS provinceCode,
               ewa.city_code     AS cityCode
        FROM employ_status AS es
                 LEFT JOIN expected_work_area AS ewa ON es.id = ewa.status_id AND ewa.is_delete = 0
                 LEFT JOIN district_data AS d1 ON ewa.country_code = d1.code AND d1.is_delete = 0
                 LEFT JOIN district_data AS d2 ON ewa.province_code = d2.code AND d2.is_delete = 0
                 LEFT JOIN district_data AS d3 ON ewa.city_code = d3.code AND d3.is_delete = 0
        WHERE es.uid = #{userId}
          AND es.is_delete = 0
    </select>

    <!--  求职发布预览  -->
    <select id="publishPreview" parameterType="java.lang.Long" resultMap="previewMap">
        SELECT u.avatar,
               nv.last_name         AS lastName,
               nv.first_name        AS firstName,
               u.gender,
               u.personal_signature AS personalSignature,
               (SELECT CASE
                           WHEN u.birthday IS NOT NULL THEN DATE_PART('year', AGE(NOW(), u.birthday))
                           ELSE NULL
                           END)     AS age,
               ee.school_name       AS schoolName,
               ee.edu_level         AS eduLevel,
               (SELECT CASE
                           WHEN u.start_working_time IS NOT NULL
                               THEN DATE_PART('year', AGE(NOW(), u.start_working_time))
                           ELSE NULL
                           END)     AS workExperience,
               es.status            AS employStatus,
               u.self_evaluation    AS selfEvaluation,
               ev.phone,
               ev.wechat_id         AS wechatId,
               ev.qq,
               ev.email,
               dd1.name             AS countryName,
               dd2.name             AS provinceName,
               dd3.name             AS cityName,
               ev.address,
               we.id                AS weId,
               we.enterprise_name   AS enterpriseName,
               we.department_name   AS departmentName,
               we.position_name     AS positionName,
               we.start_time        AS startTime,
               we.end_time          AS endTime,
               we.content,
               we.performance,
               pe.id                AS peId,
               pe.project_name      AS projectName,
               pe.project_role      AS projectRole,
               pe.project_content   AS projectContent
        FROM yy_user AS u
                 LEFT JOIN employ_status AS es ON u.id = es.uid AND es.is_delete = 0
                 LEFT JOIN yy_user_name_visible_info AS nv ON u.id = nv.uid AND nv.is_delete = 0
                 LEFT JOIN everyone_visible_info AS ev ON u.id = ev.uid AND ev.is_delete = 0
                 LEFT JOIN district_data dd1 ON dd1.code = ev.country_code AND dd1.is_delete = 0
                 LEFT JOIN district_data dd2 ON dd2.code = ev.province_code AND dd2.is_delete = 0
                 LEFT JOIN district_data dd3 ON dd3.code = ev.city_code AND dd3.is_delete = 0
                 LEFT JOIN (SELECT *
                            FROM education_experience
                            WHERE uid = #{userId}
                              AND is_delete = 0
                            ORDER BY end_time DESC, start_time DESC LIMIT 1) AS ee ON u.id = ee.uid
                 LEFT JOIN work_experience AS we
                           ON u.id = we.uid AND we.is_delete = 0
                 LEFT JOIN project_experience AS pe ON we.id = pe.we_id AND pe.is_delete = 0
        WHERE u.id = #{userId}
          AND u.is_delete = 0
    </select>

    <!--  根据id查询求职信息详情  -->
    <select id="detail" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.vo.huntjob.HuntJobDetailVo">
        SELECT hj.id,
               hj.position_id             AS positionId,
               p1.name                    AS industryName,
               p2.name                    AS sectorName,
               p3.name                    AS positionName,
               ep.industry_code           AS industryCode,
               ep.sector_code             AS sectorCode,
               ep.position_code           AS positionCode,
               ep.min_salary              AS minSalary,
               ep.max_salary              AS maxSalary,
               hj.area_id                 AS areaId,
               dd1.name                   AS countryName,
               dd2.name                   AS provinceName,
               dd3.name                   AS cityName,
               ewa.country_code           AS countryCode,
               ewa.province_code          AS provinceCode,
               ewa.city_code              AS cityCode,
               hj.award,
               hj.interview_reward_rate   AS interviewRewardRate,
               hj.onboard_reward_rate     AS onboardRewardRate,
               hj.full_member_reward_rate AS fullMemberRewardRate
        FROM hunt_job AS hj
                 LEFT JOIN expected_position AS ep ON hj.position_id = ep.id AND ep.is_delete = 0
                 LEFT JOIN position AS p1 ON ep.industry_code = p1.code AND p1.is_delete = 0
                 LEFT JOIN position AS p2 ON ep.sector_code = p2.code AND p2.is_delete = 0
                 LEFT JOIN position AS p3 ON ep.position_code = p3.code AND p3.is_delete = 0
                 LEFT JOIN expected_work_area AS ewa ON hj.area_id = ewa.id AND ewa.is_delete = 0
                 LEFT JOIN district_data dd1 ON dd1.code = ewa.country_code AND dd1.is_delete = 0
                 LEFT JOIN district_data dd2 ON dd2.code = ewa.province_code AND dd2.is_delete = 0
                 LEFT JOIN district_data dd3 ON dd3.code = ewa.city_code AND dd3.is_delete = 0
        WHERE hj.id = #{id}
          AND hj.is_delete = 0
    </select>

    <!--  修改求职信息  -->
    <update id="modify" parameterType="com.korant.youya.workplace.pojo.dto.huntjob.HuntJobModifyDto">
        UPDATE hunt_job
        SET position_id             = #{modifyDto.positionId},
            area_id                 = #{modifyDto.areaId},
            award                   = #{modifyDto.award},
            interview_reward_rate   = #{modifyDto.interviewRewardRate},
            onboard_reward_rate     = #{modifyDto.onboardRewardRate},
            full_member_reward_rate = #{modifyDto.fullMemberRewardRate},
            description             = #{modifyDto.description},
            update_time             = CURRENT_TIMESTAMP
        WHERE id = #{modifyDto.id}
    </update>

    <!--  根据id预览求职详细信息  -->
    <select id="detailsPreview" parameterType="java.lang.Long" resultMap="detailMap">
        SELECT hj.id,
               u.avatar,
               nv.last_name         AS lastName,
               nv.first_name        AS firstName,
               u.gender,
               u.personal_signature AS personalSignature,
               (SELECT CASE
                           WHEN u.birthday IS NOT NULL THEN DATE_PART('year', AGE(NOW(), u.birthday))
                           ELSE NULL
                           END)     AS age,
               ee.edu_level         AS eduLevel,
               (SELECT CASE
                           WHEN u.start_working_time IS NOT NULL
                               THEN DATE_PART('year', AGE(NOW(), u.start_working_time))
                           ELSE NULL
                           END)     AS workExperience,
               ep.min_salary        AS minExpectedSalary,
               ep.max_salary        AS maxExpectedSalary,
               hj.award,
               es.status            AS employStatus,
               hj.description,
               ev.phone,
               ev.wechat_id         AS wechatId,
               ev.qq,
               ev.email,
               dd1.name             AS countryName,
               dd2.name             AS provinceName,
               dd3.name             AS cityName,
               ev.address,
               we.id                AS weId,
               we.enterprise_name   AS enterpriseName,
               we.department_name   AS departmentName,
               we.position_name     AS positionName,
               we.start_time        AS startTime,
               we.end_time          AS endTime,
               we.content,
               we.performance,
               pe.id                AS peId,
               pe.project_name      AS projectName,
               pe.project_role      AS projectRole,
               pe.project_content   AS projectContent
        FROM hunt_job AS hj
                 LEFT JOIN yy_user AS u ON hj.uid = u.id AND u.is_delete = 0
                 LEFT JOIN expected_position AS ep ON hj.position_id = ep.id AND ep.is_delete = 0
                 LEFT JOIN employ_status AS es ON u.id = es.uid AND es.is_delete = 0
                 LEFT JOIN yy_user_name_visible_info AS nv ON u.id = nv.uid AND nv.is_delete = 0
                 LEFT JOIN everyone_visible_info AS ev ON u.id = ev.uid AND ev.is_delete = 0
                 LEFT JOIN district_data dd1 ON dd1.code = ev.country_code AND dd1.is_delete = 0
                 LEFT JOIN district_data dd2 ON dd2.code = ev.province_code AND dd2.is_delete = 0
                 LEFT JOIN district_data dd3 ON dd3.code = ev.city_code AND dd3.is_delete = 0
                 LEFT JOIN (SELECT *
                            FROM education_experience
                            WHERE uid = #{userId}
                              AND is_delete = 0
                            ORDER BY end_time DESC, start_time DESC LIMIT 1) AS ee ON u.id = ee.uid
                 LEFT JOIN work_experience AS we
                           ON u.id = we.uid AND we.is_delete = 0
                 LEFT JOIN project_experience AS pe ON we.id = pe.we_id AND pe.is_delete = 0
        WHERE hj.id = #{id}
          AND u.is_delete = 0
    </select>
</mapper>
