<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.InterviewMapper">

    <!--  查询面试邀请列表  -->
    <select id="queryList" resultType="com.korant.youya.workplace.pojo.vo.interview.InterviewVo">
        SELECT id,
               approach,
               inter_time        AS interTime,
               note,
               acceptance_status AS acceptanceStatus,
               completion_status AS completionStatus
        FROM interview
        WHERE recruit_process_instance_id = #{listDto.recruitProcessInstanceId}
          AND is_delete = 0
    </select>
</mapper>
