<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.InternalRecommendMapper">

    <!--  查询用户被推荐职位数量  -->
    <select id="queryListCount" parameterType="java.lang.Long" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM internal_recommend ir
                 LEFT JOIN hunt_job AS hj ON ir.hunt_id = hj.id AND hj.is_delete = 0
        WHERE hj.uid = #{userId}
          AND ir.is_delete = 0
    </select>

    <!--  查询用户被推荐职位列表  -->
    <select id="queryList" resultType="com.korant.youya.workplace.pojo.vo.internalrecommend.InternalRecommendVo">
        SELECT ir.id,
               e.id                                                     AS enterpriseId,
               e.logo,
               e.name                                                   AS enterpriseName,
               e.scale,
               p.name                                                   AS positionName,
               j.edu_requirements                                       AS eduRequirements,
               j.work_experience                                        AS workExperience,
               j.min_salary                                             AS minSalary,
               j.max_salary                                             AS maxSalary,
               dd1.name                                                 AS cityName,
               (SELECT CASE WHEN j.award IS NOT NULL THEN 1 ELSE 0 END) AS isAwardExist,
               u.avatar,
               u.last_name                                              AS lastName,
               u.first_name                                             AS firstName,
               ir.create_time                                           AS recommendedTime
        FROM internal_recommend ir
                 LEFT JOIN hunt_job AS hj ON ir.hunt_id = hj.id AND hj.is_delete = 0
                 LEFT JOIN job AS j ON ir.job_id = j.id AND j.is_delete = 0
                 LEFT JOIN enterprise AS e ON j.enterprise_id = e.id AND e.is_delete = 0
                 LEFT JOIN district_data dd1 ON j.city_code = dd1.code AND dd1.is_delete = 0
                 LEFT JOIN position AS p ON j.position_code = p.code AND p.is_delete = 0
                 LEFT JOIN yy_user AS u ON ir.referee = u.id AND u.is_delete = 0
        WHERE hj.uid = #{userId}
          AND ir.is_delete = 0
          AND ir.job_id IS NOT NULL
        ORDER BY ir.create_time DESC LIMIT #{listDto.pageSize}
        OFFSET (#{listDto.pageNumber} -1) * #{listDto.pageSize}
    </select>

    <!--  查询用户被推荐职位详情  -->
    <select id="detail" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.vo.internalrecommend.InternalRecommendDetailVo">
        SELECT ir.id,
               ir.job_id                                                AS jobId,
               ir.recruit_process_instance_id                           AS recruitProcessInstanceId,
               e.id                                                     AS enterpriseId,
               e.logo,
               e.name                                                   AS enterpriseName,
               e.scale,
               p.name                                                   AS positionName,
               j.edu_requirements                                       AS eduRequirements,
               j.work_experience                                        AS workExperience,
               j.min_salary                                             AS minSalary,
               j.max_salary                                             AS maxSalary,
               dd1.name                                                 AS cityName,
               (SELECT CASE WHEN j.award IS NOT NULL THEN 1 ELSE 0 END) AS isAwardExist,
               u.avatar,
               u.last_name                                              AS lastName,
               u.first_name                                             AS firstName,
               ir.create_time                                           AS recommendedTime,
               rpi.process_step                                         AS processStep
        FROM internal_recommend ir
                 LEFT JOIN hunt_job AS hj ON ir.hunt_id = hj.id AND hj.is_delete = 0
                 LEFT JOIN job AS j ON ir.job_id = j.id AND j.is_delete = 0
                 LEFT JOIN enterprise AS e ON j.enterprise_id = e.id AND e.is_delete = 0
                 LEFT JOIN district_data dd1 ON j.city_code = dd1.code AND dd1.is_delete = 0
                 LEFT JOIN position AS p ON j.position_code = p.code AND p.is_delete = 0
                 LEFT JOIN yy_user AS u ON ir.referee = u.id AND u.is_delete = 0
                 LEFT JOIN recruit_process_instance AS rpi
                           ON ir.recruit_process_instance_id = rpi.id AND rpi.is_delete = 0
        WHERE ir.id = #{id}
          AND ir.is_delete = 0
    </select>

    <!--  查询面试邀请列表  -->
    <select id="queryInterviewList"
            resultType="com.korant.youya.workplace.pojo.vo.internalrecommend.InternalRecommendInterviewVo">
        SELECT i.id,
               i.approach,
               i.inter_time        AS interTime,
               i.note,
               i.acceptance_status AS acceptanceStatus,
               i.completion_status AS completionStatus,
               u.avatar,
               u.last_name         AS lastName,
               u.first_name        AS firstName
        FROM interview AS i
                 LEFT JOIN recruit_process_instance AS rpi
                           ON i.recruit_process_instance_id = rpi.id AND rpi.is_delete = 0
                 LEFT JOIN internal_recommend AS ir ON rpi.id = ir.recruit_process_instance_id AND ir.is_delete = 0
                 LEFT JOIN yy_user AS u ON ir.hr = u.id AND u.is_delete = 0
        WHERE i.recruit_process_instance_id = #{listDto.recruitProcessInstanceId}
          AND i.is_delete = 0
        ORDER BY i.create_time DESC LIMIT #{listDto.pageSize}
        OFFSET (#{listDto.pageNumber} -1) * #{listDto.pageSize}
    </select>

    <!--  查询入职邀请列表  -->
    <select id="queryOnboardingList"
            resultType="com.korant.youya.workplace.pojo.vo.internalrecommend.InternalRecommendOnboardingVo">
        SELECT o.id,
               o.onboarding_time   AS onboardingTime,
               d1.name             AS countryName,
               d2.name             AS provinceName,
               d3.name             AS cityName,
               o.address,
               o.note,
               o.acceptance_status AS acceptanceStatus,
               o.completion_status AS completionStatus,
               u.avatar,
               u.last_name         AS lastName,
               u.first_name        AS firstName
        FROM onboarding AS o
                 LEFT JOIN recruit_process_instance AS rpi
                           ON o.recruit_process_instance_id = rpi.id AND rpi.is_delete = 0
                 LEFT JOIN internal_recommend AS ir ON rpi.id = ir.recruit_process_instance_id AND ir.is_delete = 0
                 LEFT JOIN yy_user AS u ON ir.hr = u.id AND u.is_delete = 0
                 LEFT JOIN district_data d1 ON d1.code = o.country_code AND d1.is_delete = 0
                 LEFT JOIN district_data d2 ON d2.code = o.province_code AND d2.is_delete = 0
                 LEFT JOIN district_data d3 ON d3.code = o.city_code AND d3.is_delete = 0
        WHERE o.recruit_process_instance_id = #{listDto.recruitProcessInstanceId}
          AND o.is_delete = 0
        ORDER BY o.create_time DESC LIMIT #{listDto.pageSize}
        OFFSET (#{listDto.pageNumber} -1) * #{listDto.pageSize}
    </select>

    <!--  查询转正邀请列表  -->
    <select id="queryConfirmationList"
            resultType="com.korant.youya.workplace.pojo.vo.internalrecommend.InternalRecommendConfirmationVo">
        SELECT c.id,
               c.confirmation_time AS confirmationTime,
               c.salary,
               c.note,
               c.acceptance_status AS acceptanceStatus,
               c.completion_status AS completionStatus,
               u.avatar,
               u.last_name         AS lastName,
               u.first_name        AS firstName
        FROM confirmation AS c
                 LEFT JOIN recruit_process_instance AS rpi
                           ON c.recruit_process_instance_id = rpi.id AND rpi.is_delete = 0
                 LEFT JOIN internal_recommend AS ir ON rpi.id = ir.recruit_process_instance_id AND ir.is_delete = 0
                 LEFT JOIN yy_user AS u ON ir.hr = u.id AND u.is_delete = 0
        WHERE c.recruit_process_instance_id = #{listDto.recruitProcessInstanceId}
          AND c.is_delete = 0
        ORDER BY c.create_time DESC LIMIT #{listDto.pageSize}
        OFFSET (#{listDto.pageNumber} -1) * #{listDto.pageSize}
    </select>

    <!--  根据招聘流程实例id查找hr  -->
    <select id="selectHRByInstanceId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT hr
        FROM internal_recommend
        WHERE recruit_process_instance_id = #{instanceId}
          AND is_delete = 0
    </select>

    <!--  根据招聘流程实例id查找候选人  -->
    <select id="selectApplicantByInstanceId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT hj.uid
        FROM internal_recommend AS ir
                 LEFT JOIN hunt_job AS hj ON ir.hunt_id = hj.id AND hj.is_delete = 0
        WHERE ir.recruit_process_instance_id = #{instanceId}
          AND ir.is_delete = 0
    </select>
</mapper>
