<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.JobIntentionMapper">

    <select id="status" resultType="com.korant.youya.workplace.pojo.vo.jobIntention.JobIntentionVo">
        SELECT
            id, status
        FROM
            job_intention
        WHERE   uid = #{userId}
            AND is_delete = 0
    </select>

</mapper>
