<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.JobMapper">

    <resultMap id="queryHomePageDetailByIdMap" type="com.korant.youya.workplace.pojo.vo.job.JobHomePageDetailVo">
        <id column="id" property="id"/>
        <result column="enterpriseId" property="enterpriseId"/>
        <result column="logo" property="logo"/>
        <result column="enterpriseName" property="enterpriseName"/>
        <result column="entType" property="entType"/>
        <result column="scale" property="scale"/>
        <result column="financingStage" property="financingStage"/>
        <result column="positionName" property="positionName"/>
        <result column="eduRequirements" property="eduRequirements"/>
        <result column="workExperience" property="workExperience"/>
        <result column="minSalary" property="minSalary"/>
        <result column="maxSalary" property="maxSalary"/>
        <result column="jobDesc" property="jobDesc"/>
        <result column="otherInfo" property="otherInfo"/>
        <result column="countryName" property="countryName"/>
        <result column="provinceName" property="provinceName"/>
        <result column="cityName" property="cityName"/>
        <result column="detailAddress" property="detailAddress"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="award" property="award"/>
        <result column="isCollected" property="isCollected"/>
        <result column="isApply" property="isApply"/>
        <collection property="welfareLabelDataVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.enterprisewelfarelabel.EnterpriseWelfareLabelDataVo">
            <id column="welfareLabelId" property="id"/>
            <result column="name" property="name"/>
        </collection>
    </resultMap>

    <resultMap id="detailMap" type="com.korant.youya.workplace.pojo.vo.job.JobDetailVo">
        <id column="id" property="id"/>
        <result column="industryName" property="industryName"/>
        <result column="typeName" property="typeName"/>
        <result column="sectorName" property="sectorName"/>
        <result column="positionName" property="positionName"/>
        <result column="industryCode" property="industryCode"/>
        <result column="sectorCode" property="sectorCode"/>
        <result column="positionCode" property="positionCode"/>
        <result column="eduRequirements" property="eduRequirements"/>
        <result column="workExperience" property="workExperience"/>
        <result column="minSalary" property="minSalary"/>
        <result column="maxSalary" property="maxSalary"/>
        <result column="jobDesc" property="jobDesc"/>
        <result column="otherInfo" property="otherInfo"/>
        <result column="countryName" property="countryName"/>
        <result column="provinceName" property="provinceName"/>
        <result column="cityName" property="cityName"/>
        <result column="countryCode" property="countryCode"/>
        <result column="provinceCode" property="provinceCode"/>
        <result column="cityCode" property="cityCode"/>
        <result column="detailAddress" property="detailAddress"/>
        <result column="award" property="award"/>
        <result column="interviewRewardRate" property="interviewRewardRate"/>
        <result column="onboardRewardRate" property="onboardRewardRate"/>
        <result column="fullMemberRewardRate" property="fullMemberRewardRate"/>
        <result column="organization_level" property="organizationLevel"/>
        <result column="class_level" property="classLevel"/>
        <collection property="welfareLabelDataVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.enterprisewelfarelabel.EnterpriseWelfareLabelDataVo">
            <id column="welfareLabelId" property="id"/>
            <result column="name" property="name"/>
        </collection>
    </resultMap>

    <!--  查询首页职位数量  -->
    <select id="queryHomePageListCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM job
        <where>
            status = 1
            AND audit_status = 2
            AND is_delete = 0
            <if test="listDto.cityCode != ''">
                AND city_code = #{listDto.cityCode}
            </if>
            <if test="listDto.positionCode != ''">
                AND position_code = #{listDto.positionCode}
            </if>
        </where>
    </select>

    <!--  查询首页职位列表  -->
    <select id="queryHomePageList" resultType="com.korant.youya.workplace.pojo.vo.job.JobHomePageListVo">
        SELECT j.id,
        e.id AS enterpriseId,
        e.logo,
        e.name AS enterpriseName,
        e.scale,
        p.name AS positionName,
        j.edu_requirements AS eduRequirements,
        j.work_experience AS workExperience,
        j.min_salary AS minSalary,
        j.max_salary AS maxSalary,
        dd1.name AS cityName,
        (SELECT CASE WHEN j.award IS NOT NULL THEN 1 ELSE 0 END) AS isAwardExist
        FROM job AS j
        LEFT JOIN enterprise AS e ON j.enterprise_id = e.id AND e.is_delete = 0
        LEFT JOIN district_data dd1 ON j.city_code = dd1.code AND dd1.is_delete = 0
        LEFT JOIN position AS p ON j.position_code = p.code AND p.is_delete = 0
        <where>
            j.status = 1
            AND j.audit_status = 2
            AND j.is_delete = 0
            <if test="listDto.cityCode != ''">
                AND j.city_code = #{listDto.cityCode}
            </if>
            <if test="listDto.positionCode != ''">
                AND j.position_code = #{listDto.positionCode}
            </if>
            ORDER BY j.create_time DESC LIMIT #{listDto.pageSize}
            OFFSET (#{listDto.pageNumber} -1) * #{listDto.pageSize}
        </where>
    </select>

    <!--  查询首页职位数量  -->
    <select id="queryHomePageListCountByUserId" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM job
        <where>
            status = 1
            AND audit_status = 2
            AND is_delete = 0
            <if test="listDto.cityCode != ''">
                AND city_code = #{listDto.cityCode}
            </if>
            <if test="listDto.positionCode != ''">
                AND position_code = #{listDto.positionCode}
            </if>
        </where>
    </select>

    <!--  查询首页职位列表  -->
    <select id="queryHomePageListByUserId" resultType="com.korant.youya.workplace.pojo.vo.job.JobHomePageListVo">
        SELECT j.id,
        e.logo,
        e.name AS enterpriseName,
        e.scale,
        j.position_name AS positionName,
        j.edu_requirements AS eduRequirements,
        j.work_experience AS workExperience,
        j.min_salary AS minSalary,
        j.max_salary AS maxSalary,
        dd1.name AS cityName,
        (SELECT CASE WHEN j.award IS NOT NULL THEN 1 ELSE 0 END) AS isAwardExist
        FROM job AS j
        LEFT JOIN enterprise AS e ON j.enterprise_id = e.id AND e.is_delete = 0
        LEFT JOIN district_data dd1 ON j.city_code = dd1.code AND dd1.is_delete = 0
        LEFT JOIN position AS p ON j.position_code = p.code AND p.is_delete = 0
        <where>
            j.status = 1
            AND j.audit_status = 2
            AND j.is_delete = 0
            <if test="listDto.cityCode != ''">
                AND j.city_code = #{listDto.cityCode}
            </if>
            <if test="listDto.positionCode != ''">
                AND j.position_code = #{listDto.positionCode}
            </if>
            ORDER BY j.create_time DESC LIMIT #{listDto.pageSize}
            OFFSET (#{listDto.pageNumber} -1) * #{listDto.pageSize}
        </where>
    </select>

    <!--  根据求职id查询首页职位信息详情  -->
    <select id="queryHomePageDetailById" resultMap="queryHomePageDetailByIdMap">
        SELECT j.id,
               e.id                  AS enterpriseId,
               e.logo,
               e.name                AS enterpriseName,
               e.ent_type            AS entType,
               e.scale,
               e.financing_stage     AS financingStage,
               p.name                AS positionName,
               j.edu_requirements    AS eduRequirements,
               j.work_experience     AS workExperience,
               j.min_salary          AS minSalary,
               j.max_salary          AS maxSalary,
               j.job_desc            AS jobDesc,
               j.other_info          AS otherInfo,
               dd1.name              AS countryName,
               dd2.name              AS provinceName,
               dd3.name              AS cityName,
               j.detail_address      AS detailAddress,
               j.longitude,
               j.latitude,
               j.award,
               (SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
                FROM attention_job
                WHERE uid = #{userId}
                  AND job_id = #{id}
                  AND is_delete = 0) AS isCollected,
               (SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
                FROM apply_job
                WHERE applicant = #{userId}
                  AND job_id = #{id}
                  AND is_delete = 0) AS isApply,
               ewl.id                AS welfareLabelId,
               ewl.name
        FROM job AS j
                 LEFT JOIN enterprise AS e ON j.enterprise_id = e.id AND e.is_delete = 0
                 LEFT JOIN district_data dd1 ON j.country_code = dd1.code AND dd1.is_delete = 0
                 LEFT JOIN district_data dd2 ON j.province_code = dd2.code AND dd2.is_delete = 0
                 LEFT JOIN district_data dd3 ON j.city_code = dd3.code AND dd3.is_delete = 0
                 LEFT JOIN position AS p ON j.position_code = p.code AND p.is_delete = 0
                 LEFT JOIN job_welfare_label AS jwl ON j.id = jwl.job_id AND jwl.is_delete = 0
                 LEFT JOIN enterprise_welfare_label AS ewl ON jwl.label_id = ewl.id AND ewl.is_delete = 0
        WHERE j.id = #{id}
    </select>

    <!--  根据职位信息中的企业id查询企业信息详情  -->
    <select id="queryEnterpriseDetailById" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.vo.job.EnterDetailVo">
        SELECT e.id,
               e.name,
               e.logo,
               e.ent_type        AS entType,
               e.scale,
               e.financing_stage AS financingStage,
               e.website,
               e.introduction,
               e.phone,
               e.email,
               dd1.name          AS provinceName,
               dd2.name          AS cityName,
               e.contact_address AS contactAddress
        FROM enterprise AS e
                 LEFT JOIN district_data dd1 ON e.province_code = dd1.code AND dd1.is_delete = 0
                 LEFT JOIN district_data dd2 ON e.city_code = dd2.code AND dd2.is_delete = 0
        WHERE e.id = #{id}
    </select>

    <!--  根据id查询分享信息  -->
    <select id="queryShareInfo" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.vo.job.JobShareInfo">
        SELECT j.id,
               e.logo,
               e.name       AS enterpriseName,
               p.name       AS positionName,
               j.min_salary AS minSalary,
               j.max_salary AS maxSalary,
               j.award
        FROM job AS j
                 LEFT JOIN enterprise AS e ON j.enterprise_id = e.id AND e.is_delete = 0
                 LEFT JOIN position AS p ON j.position_code = p.code AND p.is_delete = 0
        WHERE j.id = #{id}
          AND j.is_delete = 0
    </select>

    <!--  查询用户个人职位列表  -->
    <select id="queryPersonalList" resultType="com.korant.youya.workplace.pojo.vo.job.JobPersonalVo">
        SELECT j.id,
               p.name                                                   AS positionName,
               j.edu_requirements                                       AS eduRequirements,
               j.work_experience                                        AS workExperience,
               j.min_salary                                             AS minSalary,
               j.max_salary                                             AS maxSalary,
               dd1.name                                                 AS cityName,
               j.audit_status                                           AS auditStatus,
               (SELECT CASE WHEN j.award IS NOT NULL THEN 1 ELSE 0 END) AS isAwardExist
        FROM job AS j
                 LEFT JOIN enterprise AS e ON j.enterprise_id = e.id AND e.is_delete = 0
                 LEFT JOIN district_data dd1 ON j.city_code = dd1.code AND dd1.is_delete = 0
                 LEFT JOIN position AS p ON j.position_code = p.code AND p.is_delete = 0
        WHERE j.enterprise_id = #{enterpriseId}
          AND j.uid = #{userId}
          AND j.status = #{personalListDto.status}
          AND j.is_delete = 0
        ORDER BY j.create_time DESC LIMIT #{personalListDto.pageSize}
        OFFSET (#{personalListDto.pageNumber} -1) * #{personalListDto.pageSize}
    </select>

    <!--  修改职位信息  -->
    <update id="modify" parameterType="com.korant.youya.workplace.pojo.dto.job.JobModifyDto">
        UPDATE job
        SET industry_code           = #{modifyDto.industryCode},
            sector_code             = #{modifyDto.sectorCode},
            type_code               = #{modifyDto.typeCode},
            position_code           = #{modifyDto.positionCode},
            position_name           = #{modifyDto.positionName},
            edu_requirements        = #{modifyDto.eduRequirements},
            work_experience         = #{modifyDto.workExperience},
            min_salary              = #{modifyDto.minSalary},
            max_salary              = #{modifyDto.maxSalary},
            job_desc                = #{modifyDto.jobDesc},
            other_info              = #{modifyDto.otherInfo},
            province_code           = #{modifyDto.provinceCode},
            city_code               = #{modifyDto.cityCode},
            detail_address          = #{modifyDto.detailAddress},
            award                   = #{modifyDto.award},
            interview_reward_rate   = #{modifyDto.interviewRewardRate},
            onboard_reward_rate     = #{modifyDto.onboardRewardRate},
            full_member_reward_rate = #{modifyDto.fullMemberRewardRate},
            update_time             = CURRENT_TIMESTAMP
        WHERE id = #{modifyDto.id}
    </update>

    <!--  根据id查询职位信息详情  -->
    <select id="detail" resultMap="detailMap">
        SELECT j.id,
               p1.name                   AS industryName,
               p2.name                   AS sectorName,
               j.position_name           AS positionName,
               p4.name                   AS typeName,
               j.industry_code           AS industryCode,
               j.sector_code             AS sectorCode,
               j.position_code           AS positionCode,
               j.edu_requirements        AS eduRequirements,
               j.work_experience         AS workExperience,
               j.min_salary              AS minSalary,
               j.max_salary              AS maxSalary,
               j.job_desc                AS jobDesc,
               j.other_info              AS otherInfo,
               dd1.name                  AS countryName,
               dd2.name                  AS provinceName,
               dd3.name                  AS cityName,
               j.country_code            AS countryCode,
               j.province_code           AS provinceCode,
               j.city_code               AS cityCode,
               j.detail_address          AS detailAddress,
               j.award,
               j.interview_reward_rate   AS interviewRewardRate,
               j.onboard_reward_rate     AS onboardRewardRate,
               j.full_member_reward_rate AS fullMemberRewardRate,
               ewl.id                    AS welfareLabelId,
               ewl.name,
               p3.organization_level     AS organization_level,
               p3.class_level            AS classLevel
        FROM job AS j
                 LEFT JOIN position AS p1 ON j.industry_code = p1.code AND p1.is_delete = 0
                 LEFT JOIN position AS p2 ON j.sector_code = p2.code AND p2.is_delete = 0
                 LEFT JOIN position AS p3 ON j.position_code = p3.code AND p3.is_delete = 0
                 LEFT JOIN position AS p4 ON j.type_code = p4.code AND p4.is_delete = 0
                 LEFT JOIN district_data dd1 ON j.country_code = dd1.code AND dd1.is_delete = 0
                 LEFT JOIN district_data dd2 ON j.province_code = dd2.code AND dd2.is_delete = 0
                 LEFT JOIN district_data dd3 ON j.city_code = dd3.code AND dd3.is_delete = 0
                 LEFT JOIN job_welfare_label AS jwl ON j.id = jwl.job_id AND jwl.is_delete = 0
                 LEFT JOIN enterprise_welfare_label AS ewl ON jwl.label_id = ewl.id AND ewl.is_delete = 0
        WHERE j.id = #{id}
    </select>

    <!--  强制移交职位信息  -->
    <update id="compulsoryTransferJob" parameterType="java.lang.Long">
        UPDATE job
        SET uid         = #{userId},
            update_time = CURRENT_TIMESTAMP
        WHERE uid = #{id}
          AND is_delete = 0
    </update>

    <!--  转让职位  -->
    <update id="transferJob" parameterType="java.lang.Long">
        UPDATE job
        SET uid         = #{transferUserId},
            update_time = CURRENT_TIMESTAMP
        WHERE id = #{jobId}
    </update>
</mapper>
