<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.OnboardingMapper">

    <!--  查询入职邀请列表  -->
    <select id="queryList" resultType="com.korant.youya.workplace.pojo.vo.onboarding.OnboardingVo">
        SELECT id,
               onboarding_time   AS onboardingTime,
               address,
               note,
               acceptance_status AS acceptanceStatus,
               completion_status AS completionStatus
        FROM onboarding
        WHERE recruit_process_instance_id = #{listDto.recruitProcessInstanceId}
          AND is_delete = 0
    </select>
</mapper>
