<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.ProjectExperienceMapper">

    <!--    修改项目经验信息-->
    <update id="modify">
       UPDATE
            project_experience
       SET project_name     = #{projectExperienceModifyDto.projectName},
           project_role     = #{projectExperienceModifyDto.projectRole},
           project_content  = #{projectExperienceModifyDto.projectContent},
           update_time      = CURRENT_TIMESTAMP
       WHERE    id = #{projectExperienceModifyDto.id}
    </update>

    <!--    查询项目经验信息列表总数-->
    <select id="queryCountByUserId" resultType="java.lang.Long">
        SELECT
            COUNT(DISTINCT pe.id)
        FROM    project_experience pe
            LEFT JOIN   work_experience we ON we.id = pe.we_id
        WHERE   pe.is_delete = 0
            AND we.is_delete = 0
            AND we.uid = #{userId}
    </select>

    <!--    查询项目经验信息列表-->
    <select id="queryProjectExperienceListByUserId"
            resultType="com.korant.youya.workplace.pojo.vo.projectexperience.ProjectExperienceListVo">
        SELECT
            pe.id,
            we.enterprise_name        AS enterpriseName,
            pe.project_name          AS projectName,
            pe.project_role          AS projectRole,
            pe.project_content       AS projectContent
        FROM    project_experience pe
                    LEFT JOIN   work_experience we ON we.id = pe.we_id
        WHERE   pe.is_delete = 0
          AND we.is_delete = 0
          AND we.uid = #{userId}
        ORDER BY pe.create_time DESC LIMIT #{pageSize}
        OFFSET (#{pageNumber} -1) * #{pageSize}
    </select>

    <!--    查询项目经验信息详情-->
    <select id="detail" resultType="com.korant.youya.workplace.pojo.vo.projectexperience.ProjectExperienceDetailVo">
        SELECT
            pe.id,
            pe.project_name          AS projectName,
            pe.project_role          AS projectRole,
            pe.project_content       AS projectContent,
            we.id                    AS weId,
            we.enterprise_name        AS enterpriseName
        FROM    project_experience pe
                    LEFT JOIN   work_experience we ON we.id = pe.we_id AND we.is_delete = 0
        WHERE   pe.is_delete = 0
          AND pe.id = #{id}
    </select>

</mapper>
