<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.UserMapper">

    <resultMap id="resumeDetailMap" type="com.korant.youya.workplace.pojo.vo.user.ResumeDetailVo">
        <id column="id" property="id"/>
        <result column="avatar" property="avatar"/>
        <result column="lastName" property="lastName"/>
        <result column="firstName" property="firstName"/>
        <result column="authenticationStatus" property="authenticationStatus"/>
        <result column="phone" property="phone"/>
        <result column="wechatId" property="wechatId"/>
        <result column="qq" property="qq"/>
        <result column="email" property="email"/>
        <result column="countryName" property="countryName"/>
        <result column="provinceName" property="provinceName"/>
        <result column="cityName" property="cityName"/>
        <result column="address" property="address"/>
        <result column="personalSignature" property="personalSignature"/>
        <result column="employStatus" property="employStatus"/>
        <collection property="expectedPositionVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.expectedposition.ExpectedPositionVo">
            <id column="positionId" property="positionId"/>
            <result column="industryName" property="industryName"/>
            <result column="sectorName" property="sectorName"/>
            <result column="positionName" property="positionName"/>
            <result column="minSalary" property="minSalary"/>
            <result column="maxSalary" property="maxSalary"/>
        </collection>
        <collection property="expectedWorkAreaVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.expectedworkarea.ExpectedWorkAreaVo">
            <id column="areaId" property="areaId"/>
            <result column="workAreaCountryName" property="workAreaCountryName"/>
            <result column="workAreaProvinceName" property="workAreaProvinceName"/>
            <result column="workAreaCityName" property="workAreaCityName"/>
        </collection>
        <collection property="workExperienceVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.workexperience.WorkExperienceVo">
            <id column="weId" property="weId"/>
            <result column="enterpriseName" property="enterpriseName"/>
            <result column="departmentName" property="departmentName"/>
            <result column="expectedPositionName" property="expectedPositionName"/>
            <result column="WorkExperienceStartTime" property="workExperienceStartTime"/>
            <result column="workExperienceEndTime" property="workExperienceEndTime"/>
            <result column="content" property="content"/>
            <result column="performance" property="performance"/>
        </collection>
        <collection property="projectExperienceVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.projectexperience.ProjectExperienceVo">
            <id column="peId" property="peId"/>
            <result column="projectEnterpriseName" property="projectEnterpriseName"/>
            <result column="projectName" property="projectName"/>
            <result column="projectRole" property="projectRole"/>
            <result column="projectContent" property="projectContent"/>
        </collection>
        <collection property="educationExperienceVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.educationexperience.EducationExperienceVo">
            <id column="eeId" property="eeId"/>
            <result column="schoolName" property="schoolName"/>
            <result column="eduLevel" property="eduLevel"/>
            <result column="educationExperienceStartTime" property="educationExperienceStartTime"/>
            <result column="educationExperienceEndTime" property="educationExperienceEndTime"/>
            <result column="specialityName" property="specialityName"/>
            <result column="degreeName" property="degreeName"/>
        </collection>
        <collection property="honorCertificateVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.honorcertificate.HonorCertificateVo">
            <id column="hcId" property="hcId"/>
            <result column="certificateName" property="certificateName"/>
            <result column="obtainTime" property="obtainTime"/>
            <result column="honorCertificateFileName" property="honorCertificateFileName"/>
            <result column="honorCertificateMd5FileName" property="honorCertificateMd5FileName"/>
        </collection>
        <collection property="attachmentVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.attachment.AttachmentVo">
            <id column="aId" property="aId"/>
            <result column="attachmentFileName" property="attachmentFileName"/>
            <result column="attachmentMd5FileName" property="attachmentMd5FileName"/>
        </collection>
    </resultMap>

    <resultMap id="resumePreviewMap" type="com.korant.youya.workplace.pojo.vo.user.ResumePreviewVo">
        <id column="id" property="id"/>
        <result column="avatar" property="avatar"/>
        <result column="lastName" property="lastName"/>
        <result column="firstName" property="firstName"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="eduLevel" property="eduLevel"/>
        <result column="workExperience" property="workExperience"/>
        <result column="politicalOutlook" property="politicalOutlook"/>
        <result column="phone" property="phone"/>
        <result column="wechatId" property="wechatId"/>
        <result column="qq" property="qq"/>
        <result column="email" property="email"/>
        <result column="countryName" property="countryName"/>
        <result column="provinceName" property="provinceName"/>
        <result column="cityName" property="cityName"/>
        <result column="address" property="address"/>
        <result column="personalSignature" property="personalSignature"/>
        <result column="selfEvaluation" property="selfEvaluation"/>
        <result column="employStatus" property="employStatus"/>
        <collection property="expectedPositionVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.expectedposition.ExpectedPositionVo">
            <id column="positionId" property="positionId"/>
            <result column="industryName" property="industryName"/>
            <result column="sectorName" property="sectorName"/>
            <result column="positionName" property="positionName"/>
            <result column="minSalary" property="minSalary"/>
            <result column="maxSalary" property="maxSalary"/>
        </collection>
        <collection property="expectedWorkAreaVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.expectedworkarea.ExpectedWorkAreaVo">
            <id column="areaId" property="areaId"/>
            <result column="workAreaCountryName" property="workAreaCountryName"/>
            <result column="workAreaProvinceName" property="workAreaProvinceName"/>
            <result column="workAreaCityName" property="workAreaCityName"/>
        </collection>
        <collection property="workExperienceVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.workexperience.WorkExperiencePreviewVo"
                    resultMap="workExperienceVoListMap">
        </collection>
        <collection property="educationExperienceVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.educationexperience.EducationExperienceVo">
            <id column="eeId" property="eeId"/>
            <result column="schoolName" property="schoolName"/>
            <result column="eduLevel" property="eduLevel"/>
            <result column="educationExperienceStartTime" property="educationExperienceStartTime"/>
            <result column="educationExperienceEndTime" property="educationExperienceEndTime"/>
            <result column="specialityName" property="specialityName"/>
            <result column="degreeName" property="degreeName"/>
        </collection>
        <collection property="honorCertificateVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.honorcertificate.HonorCertificateVo">
            <id column="hcId" property="hcId"/>
            <result column="certificateName" property="certificateName"/>
            <result column="obtainTime" property="obtainTime"/>
            <result column="honorCertificateFileName" property="honorCertificateFileName"/>
            <result column="honorCertificateMd5FileName" property="honorCertificateMd5FileName"/>
        </collection>
        <collection property="attachmentVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.attachment.AttachmentVo">
            <id column="aId" property="aId"/>
            <result column="attachmentFileName" property="attachmentFileName"/>
            <result column="attachmentMd5FileName" property="attachmentMd5FileName"/>
        </collection>
    </resultMap>

    <resultMap id="workExperienceVoListMap"
               type="com.korant.youya.workplace.pojo.vo.workexperience.WorkExperiencePreviewVo">
        <id column="weId" property="weId"/>
        <result column="enterpriseName" property="enterpriseName"/>
        <result column="departmentName" property="departmentName"/>
        <result column="expectedPositionName" property="positionName"/>
        <result column="WorkExperienceStartTime" property="startTime"/>
        <result column="WorkExperienceEndTime" property="endTime"/>
        <result column="content" property="content"/>
        <result column="performance" property="performance"/>
        <collection property="projectExperienceVoList" javaType="java.util.List"
                    ofType="com.korant.youya.workplace.pojo.vo.projectexperience.ProjectExperiencePreviewVo"
                    resultMap="projectExperienceVoListMap">
        </collection>
    </resultMap>

    <resultMap id="projectExperienceVoListMap"
               type="com.korant.youya.workplace.pojo.vo.projectexperience.ProjectExperiencePreviewVo">
        <id column="" property="peId"/>
        <result column="projectName" property="projectName"/>
        <result column="projectRole" property="projectRole"/>
        <result column="projectContent" property="projectContent"/>
    </resultMap>

    <!--  根据id查询登录用户  -->
    <select id="selectUserToLoginById" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.LoginUser">
        SELECT u.id,
               u.avatar,
               u.last_name                    AS lastName,
               u.first_name                   AS firstName,
               u.phone,
               u.identity_card                AS identityCard,
               u.personal_signature           AS personalSignature,
               u.authentication_status        AS authenticationStatus,
               u.account_status               AS accountStatus,
               u.wechat_open_id               AS wechatOpenId,
               u.alipay_open_id               AS alipayOpenId,
               u.alipay_account               AS alipayAccount,
               u.alipay_account_name          AS alipayAccountName,
               u.alipay_account_identity_card AS alipayAccountIdentityCard,
               w.id                           AS walletAccountId,
               r.role_name                    AS role,
               e.id                           AS enterpriseId
        FROM yy_user AS u
                 LEFT JOIN yy_user_wallet_account AS w ON u.id = w.uid AND w.is_delete = 0
                 LEFT JOIN yy_user_role AS ur ON u.id = ur.uid AND ur.is_delete = 0
                 LEFT JOIN yy_role AS r ON ur.rid = r.id
                 LEFT JOIN yy_user_enterprise AS ue ON u.id = ue.uid AND ue.is_delete = 0
                 LEFT JOIN enterprise AS e ON ue.enterprise_id = e.id
        WHERE u.id = #{id}
          AND u.is_delete = 0
    </select>

    <!--  根据手机号查询登录用户  -->
    <select id="selectUserToLoginByPhoneNumber" parameterType="java.lang.String"
            resultType="com.korant.youya.workplace.pojo.LoginUser">
        SELECT u.id,
               u.avatar,
               u.last_name                    AS lastName,
               u.first_name                   AS firstName,
               u.phone,
               u.identity_card                AS identityCard,
               u.personal_signature           AS personalSignature,
               u.authentication_status        AS authenticationStatus,
               u.account_status               AS accountStatus,
               u.wechat_open_id               AS wechatOpenId,
               u.alipay_open_id               AS alipayOpenId,
               u.alipay_account               AS alipayAccount,
               u.alipay_account_name          AS alipayAccountName,
               u.alipay_account_identity_card AS alipayAccountIdentityCard,
               w.id                           AS walletAccountId,
               r.role_name                    AS role,
               e.id                           AS enterpriseId
        FROM yy_user AS u
                 LEFT JOIN yy_user_wallet_account AS w ON u.id = w.uid AND w.is_delete = 0
                 LEFT JOIN yy_user_role AS ur ON u.id = ur.uid AND ur.is_delete = 0
                 LEFT JOIN yy_role AS r ON ur.rid = r.id
                 LEFT JOIN yy_user_enterprise AS ue ON u.id = ue.uid AND ue.is_delete = 0
                 LEFT JOIN enterprise AS e ON ue.enterprise_id = e.id
        WHERE u.phone = #{phoneNumber}
          AND u.is_delete = 0
    </select>

    <!--  解绑支付宝账号  -->
    <update id="unbindAlipayAccount">
        UPDATE yy_user
        SET alipay_account               = null,
            alipay_account_name          = null,
            alipay_account_identity_card = null,
            update_time                  = CURRENT_TIMESTAMP
        WHERE id = #{userId}
    </update>

    <!--  修改用户头像  -->
    <update id="modifyUserAvatar">
        UPDATE yy_user
        SET avatar      = #{modifyUserAvatarDto.avatar},
            update_time = CURRENT_TIMESTAMP
        WHERE id = #{userId}
    </update>

    <!--  查询个人基本信息  -->
    <select id="queryPersonalBasicInfo" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.vo.user.UserPersonalBasicInfoVo">
        SELECT avatar,
               last_name             AS lastName,
               first_name            AS firstName,
               gender,
               birthday,
               start_working_time    AS startWorkingTime,
               political_outlook     AS politicalOutlook,
               personal_signature    AS personalSignature,
               self_evaluation       AS selfEvaluation,
               (SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
                FROM yy_user_enterprise
                WHERE uid = #{userId}
                  AND is_delete = 0) AS isAssociated
        FROM yy_user
        WHERE id = #{userId}
          AND is_delete = 0
    </select>

    <!--  修改个人基本信息  -->
    <update id="modifyUserPersonalBasicInfo"
            parameterType="com.korant.youya.workplace.pojo.dto.user.ModifyUserPersonalBasicInfoDto">
        UPDATE yy_user
        SET last_name          = #{modifyDto.lastName},
            first_name         = #{modifyDto.firstName},
            gender             = #{modifyDto.gender},
            birthday           = #{modifyDto.birthday},
            start_working_time = #{modifyDto.startWorkingTime},
            political_outlook  = #{modifyDto.politicalOutlook},
            personal_signature = #{modifyDto.personalSignature},
            self_evaluation    = #{modifyDto.selfEvaluation},
            update_time        = CURRENT_TIMESTAMP
        WHERE id = #{userId}
    </update>

    <!--  查询用户联系方式  -->
    <select id="queryUserContactInfo" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.vo.user.UserContactInfoVo">
        SELECT u.phone,
               u.email,
               u.qq,
               u.wechat_id     AS wechatId,
               d1.name         AS countryName,
               d2.name         AS provinceName,
               d3.name         AS cityName,
               u.country_code  AS countryCode,
               u.province_code AS provinceCode,
               u.city_code     AS cityCode,
               u.address
        FROM yy_user AS u
                 LEFT JOIN district_data d1 ON d1.code = u.country_code AND d1.is_delete = 0
                 LEFT JOIN district_data d2 ON d2.code = u.province_code AND d2.is_delete = 0
                 LEFT JOIN district_data d3 ON d3.code = u.city_code AND d3.is_delete = 0
        WHERE u.id = #{userId}
          AND u.is_delete = 0
    </select>

    <!--  修改用户联系方式  -->
    <update id="modifyUserContactInfo"
            parameterType="com.korant.youya.workplace.pojo.dto.user.ModifyUserContactInfoDto">
        UPDATE yy_user
        SET wechat_id     = #{modifyDto.wechatId},
            qq            = #{modifyDto.qq},
            email         = #{modifyDto.email},
            country_code  = #{modifyDto.countryCode},
            province_code = #{modifyDto.provinceCode},
            city_code     = #{modifyDto.cityCode},
            address       = #{modifyDto.address},
            update_time   = CURRENT_TIMESTAMP
        WHERE id = #{userId}
    </update>

    <!--  简历详情  -->
    <select id="resumeDetail" parameterType="java.lang.Long" resultMap="resumeDetailMap">
        SELECT u.id,
               u.avatar,
               u.last_name             AS lastName,
               u.first_name            AS firstName,
               u.authentication_status AS authenticationStatus,
               u.phone,
               u.wechat_id             AS wechatId,
               u.qq,
               u.email,
               d1.name                 AS countryName,
               d2.name                 AS provinceName,
               d3.name                 AS cityName,
               u.address,
               u.personal_signature    AS personalSignature,
               es.status               AS employStatus,
               ep.id                   AS positionId,
               p1.name                 AS industryName,
               p2.name                 AS sectorName,
               p3.name                 AS positionName,
               ep.min_salary           AS minSalary,
               ep.max_salary           AS maxSalary,
               ewa.id                  AS areaId,
               dd1.name                AS workAreaCountryName,
               dd2.name                AS workAreaProvinceName,
               dd3.name                AS workAreaCityName,
               we.id                   AS weId,
               we.enterprise_name      AS enterpriseName,
               we.department_name      AS departmentName,
               we.position_name        AS expectedPositionName,
               we.start_time           AS workExperienceStartTime,
               we.end_time             AS workExperienceEndTime,
               we.content,
               we.performance,
               t.peId,
               t.projectEnterpriseName,
               t.projectName,
               t.projectRole,
               t.projectContent,
               ee.id                   AS eeId,
               ee.school_name          AS schoolName,
               ee.edu_level            AS eduLevel,
               ee.start_time           AS educationExperienceStartTime,
               ee.end_time             AS educationExperienceEndTime,
               ee.speciality_name      AS specialityName,
               ee.degree_name          AS degreeName,
               hc.id                   AS hcId,
               hc.certificate_name     AS certificateName,
               hc.obtain_time          AS obtainTime,
               hc.file_name            AS honorCertificateFileName,
               hc.md5_file_name        AS honorCertificateMd5FileName,
               a.id                    AS aId,
               a.file_name             AS attachmentFileName,
               a.md5_file_name         AS attachmentMd5FileName
        FROM yy_user AS u
                 LEFT JOIN district_data d1 ON d1.code = u.country_code AND d1.is_delete = 0
                 LEFT JOIN district_data d2 ON d2.code = u.province_code AND d2.is_delete = 0
                 LEFT JOIN district_data d3 ON d3.code = u.city_code AND d3.is_delete = 0
                 LEFT JOIN employ_status AS es ON u.id = es.uid AND es.is_delete = 0
                 LEFT JOIN expected_position AS ep ON es.id = ep.status_id AND ep.is_delete = 0
                 LEFT JOIN position AS p1 ON ep.industry_code = p1.code AND p1.is_delete = 0
                 LEFT JOIN position AS p2 ON ep.sector_code = p2.code AND p2.is_delete = 0
                 LEFT JOIN position AS p3 ON ep.position_code = p3.code AND p3.is_delete = 0
                 LEFT JOIN expected_work_area AS ewa ON es.id = ewa.status_id AND ewa.is_delete = 0
                 LEFT JOIN district_data dd1 ON dd1.code = ewa.country_code AND dd1.is_delete = 0
                 LEFT JOIN district_data dd2 ON dd2.code = ewa.province_code AND dd2.is_delete = 0
                 LEFT JOIN district_data dd3 ON dd3.code = ewa.city_code AND dd3.is_delete = 0
                 LEFT JOIN (SELECT *
                            FROM work_experience
                            WHERE uid = #{userId}
                              AND is_delete = 0
                            ORDER BY COALESCE(
                                             (CASE
                                                  WHEN is_current = 1 THEN to_char(CURRENT_DATE, 'yyyy-MM')
                                                  ELSE end_time END),
                                             end_time
                                         ) DESC, start_time DESC, create_time DESC) AS we
                           ON u.id = we.uid
                 LEFT JOIN (SELECT pe1.id              AS peId,
                                   we1.enterprise_name AS projectEnterpriseName,
                                   we1.uid,
                                   pe1.project_name    AS projectName,
                                   pe1.project_role    AS projectRole,
                                   pe1.project_content AS projectContent
                            FROM project_experience AS pe1
                                     LEFT JOIN work_experience AS we1
                                               ON we1.id = pe1.we_id AND pe1.is_delete = 0
                            ORDER BY pe1.create_time DESC) AS t ON u.id = t.uid
                 LEFT JOIN (SELECT *
                            FROM education_experience
                            WHERE uid = #{userId}
                              AND is_delete = 0
                            ORDER BY end_time DESC, start_time DESC, create_time DESC) AS ee
                           ON u.id = ee.uid
                 LEFT JOIN (SELECT *
                            FROM honor_certificate
                            WHERE uid = #{userId}
                              AND is_delete = 0
                            ORDER BY obtain_time DESC, create_time DESC) AS hc
                           ON u.id = hc.uid
                 LEFT JOIN (SELECT *
                            FROM attachment
                            WHERE uid = #{userId}
                              AND is_delete = 0
                            ORDER BY create_time DESC) AS a
                           ON u.id = a.uid
        WHERE u.id = #{userId}
          AND u.is_delete = 0
    </select>

    <!--  简历预览  -->
    <select id="resumePreview" parameterType="java.lang.Long" resultMap="resumePreviewMap">
        SELECT u.id,
               u.avatar,
               u.last_name      AS lastName,
               u.first_name     AS firstName,
               u.gender,
               (SELECT CASE
                           WHEN u.birthday IS NOT NULL THEN DATE_PART('year', AGE(NOW(), u.birthday))
                           ELSE NULL
                           END) AS age,
               (SELECT edu_level
                FROM education_experience
                WHERE uid = u.id
                  AND is_delete = 0
                ORDER BY end_time DESC, start_time
                    DESC           LIMIT 1)    AS eduLevel,
               (SELECT CASE WHEN u.start_working_time IS NOT NULL
                        THEN DATE_PART('year', AGE(NOW(), to_date(u.start_working_time, 'YYYY-MM')))
                           ELSE NULL END)  AS workExperience,
               u.political_outlook     AS politicalOutlook,
               u.phone,
               u.wechat_id             AS wechatId,
               u.qq,
               u.email,
               d1.name                 AS countryName,
               d2.name                 AS provinceName,
               d3.name                 AS cityName,
               u.address,
               u.personal_signature    AS personalSignature,
               u.self_evaluation       AS selfEvaluation,
               es.status               AS employStatus,
               ep.id                   AS positionId,
               p1.name                 AS industryName,
               p2.name                 AS sectorName,
               p3.name                 AS positionName,
               ep.min_salary           AS minSalary,
               ep.max_salary           AS maxSalary,
               ewa.id                  AS areaId,
               dd1.name                AS workAreaCountryName,
               dd2.name                AS workAreaProvinceName,
               dd3.name                AS workAreaCityName,
               we.id                   AS weId,
               we.enterprise_name      AS enterpriseName,
               we.department_name      AS departmentName,
               we.position_name        AS expectedPositionName,
               we.start_time           AS workExperienceStartTime,
               we.end_time             AS workExperienceEndTime,
               we.content,
               we.performance,
               t.peId,
               t.projectEnterpriseName,
               t.projectName,
               t.projectRole,
               t.projectContent,
               ee.id                   AS eeId,
               ee.school_name          AS schoolName,
               ee.edu_level            AS eduLevel,
               ee.start_time           AS educationExperienceStartTime,
               ee.end_time             AS educationExperienceEndTime,
               ee.speciality_name      AS specialityName,
               ee.degree_name          AS degreeName,
               hc.id                   AS hcId,
               hc.certificate_name     AS certificateName,
               hc.obtain_time          AS obtainTime,
               hc.file_name            AS honorCertificateFileName,
               hc.md5_file_name        AS honorCertificateMd5FileName,
               a.id                    AS aId,
               a.file_name             AS attachmentFileName,
               a.md5_file_name         AS attachmentMd5FileName
        FROM yy_user AS u
            LEFT JOIN district_data d1
        ON d1.code = u.country_code AND d1.is_delete = 0
            LEFT JOIN district_data d2 ON d2.code = u.province_code AND d2.is_delete = 0
            LEFT JOIN district_data d3 ON d3.code = u.city_code AND d3.is_delete = 0
            LEFT JOIN employ_status AS es ON u.id = es.uid AND es.is_delete = 0
            LEFT JOIN expected_position AS ep ON es.id = ep.status_id AND ep.is_delete = 0
            LEFT JOIN position AS p1 ON ep.industry_code = p1.code AND p1.is_delete = 0
            LEFT JOIN position AS p2 ON ep.sector_code = p2.code AND p2.is_delete = 0
            LEFT JOIN position AS p3 ON ep.position_code = p3.code AND p3.is_delete = 0
            LEFT JOIN expected_work_area AS ewa ON es.id = ewa.status_id AND ewa.is_delete = 0
            LEFT JOIN district_data dd1 ON dd1.code = ewa.country_code AND dd1.is_delete = 0
            LEFT JOIN district_data dd2 ON dd2.code = ewa.province_code AND dd2.is_delete = 0
            LEFT JOIN district_data dd3 ON dd3.code = ewa.city_code AND dd3.is_delete = 0
            LEFT JOIN (SELECT *
            FROM work_experience
            WHERE uid = #{userId}
            AND is_delete = 0
            ORDER BY COALESCE (
            (CASE
            WHEN is_current = 1 THEN to_char(CURRENT_DATE, 'yyyy-MM')
            ELSE end_time END),
            end_time
            ) DESC, start_time DESC ,create_time DESC) AS we ON u.id = we.uid
            LEFT JOIN (SELECT pe1.id AS peId,
            we1.enterprise_name AS projectEnterpriseName,
            we1.uid,
            pe1.project_name AS projectName,
            pe1.project_role AS projectRole,
            pe1.project_content AS projectContent
            FROM project_experience AS pe1
            LEFT JOIN work_experience AS we1
            ON we1.id = pe1.we_id AND pe1.is_delete = 0 ORDER BY pe1.create_time DESC) AS t ON u.id = t.uid
            LEFT JOIN (SELECT *
            FROM education_experience
            WHERE uid = #{userId}
            AND is_delete = 0
            ORDER BY end_time DESC, start_time DESC ,create_time DESC) AS ee ON u.id = ee.uid
            LEFT JOIN (SELECT *
            FROM honor_certificate
            WHERE uid = #{userId}
            AND is_delete = 0
            ORDER BY obtain_time DESC ,create_time DESC) AS hc ON u.id = hc.uid
            LEFT JOIN (SELECT *
            FROM attachment
            WHERE uid = #{userId}
            AND is_delete = 0
            ORDER BY create_time DESC) AS a ON u.id = a.uid
        WHERE u.id = #{userId}
          AND u.is_delete = 0
    </select>

    <!--  根据用户id查询用户角色  -->
    <select id="queryUserRoleById" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT r.role_name
        FROM yy_user AS u
                 LEFT JOIN yy_user_role AS ur ON u.id = ur.uid AND ur.is_delete = 0
                 LEFT JOIN yy_role AS r ON ur.rid = r.id AND r.is_delete = 0
        WHERE u.id = #{userId}
          AND u.is_delete = 0
    </select>

    <!--  根据用户id查询用户公开信息  -->
    <select id="queryUserPublicInfo" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.vo.user.UserPublicInfoVo">
        SELECT u.id,
               u.avatar,
               nv.last_name  AS lastName,
               nv.first_name AS firstName,
               u.gender
        FROM yy_user AS u
                 LEFT JOIN yy_user_name_visible_info AS nv ON u.id = nv.uid AND nv.is_delete = 0
        WHERE u.id = #{userId}
          AND u.is_delete = 0
    </select>
</mapper>
