<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.UserMapper">

    <!--  根据id查询登录用户  -->
    <select id="selectUserToLoginById" parameterType="java.lang.Long"
            resultType="com.korant.youya.workplace.pojo.LoginUser">
        SELECT u.id,
               u.phone,
               u.identity_card         AS identityCard,
               u.authentication_status AS authenticationStatus,
               u.account_status        AS accountStatus,
               r.role_name             AS role,
               e.id                    AS enterpriseId
        FROM yy_user AS u
                 LEFT JOIN yy_user_role AS ur ON u.id = ur.uid AND ur.is_delete = 0
                 LEFT JOIN yy_role AS r ON ur.rid = r.id
                 LEFT JOIN yy_user_enterprise AS ue ON u.id = ue.uid AND ue.is_delete = 0
                 LEFT JOIN enterprise AS e ON ue.enterprise_id = e.id
        WHERE u.id = #{id}
          AND u.is_delete = 0
    </select>

    <!--  根据手机号查询登录用户  -->
    <select id="selectUserToLoginByPhoneNumber" parameterType="java.lang.String"
            resultType="com.korant.youya.workplace.pojo.LoginUser">
        SELECT u.id,
               u.phone,
               u.identity_card         AS identityCard,
               u.authentication_status AS authenticationStatus,
               u.account_status        AS accountStatus,
               r.role_name             AS role,
               e.id                    AS enterpriseId
        FROM yy_user AS u
                 LEFT JOIN yy_user_role AS ur ON u.id = ur.uid AND ur.is_delete = 0
                 LEFT JOIN yy_role AS r ON ur.rid = r.id
                 LEFT JOIN yy_user_enterprise AS ue ON u.id = ue.uid AND ue.is_delete = 0
                 LEFT JOIN enterprise AS e ON ue.enterprise_id = e.id
        WHERE u.phone = #{phoneNumber}
          AND u.is_delete = 0
    </select>

    <update id="resumePersonModify">
        UPDATE
            yy_user
        SET avatar             = #{resumePersonModifyDto.avatar},
            last_name          = #{resumePersonModifyDto.lastName},
            first_name         = #{resumePersonModifyDto.firstName},
            gender             = #{resumePersonModifyDto.gender},
            birthday           = #{resumePersonModifyDto.birthday},
            start_working_time = #{resumePersonModifyDto.startWorkingTime},
            political_outlook  = #{resumePersonModifyDto.politicalOutlook},
            personal_signature = #{resumePersonModifyDto.personalSignature},
            self_evaluation    = #{resumePersonModifyDto.selfEvaluation},
            update_time        = CURRENT_TIMESTAMP
        WHERE id = #{userId}
    </update>

    <update id="modifyResumeContactDetail">
        UPDATE yy_user
        SET country_code  = #{resumeContactModifyDto.countryCode},
            province_code = #{resumeContactModifyDto.provinceCode},
            city_code     = #{resumeContactModifyDto.cityCode},
            district_code = #{resumeContactModifyDto.districtCode},
            address       = #{resumeContactModifyDto.address},
            phone         = #{resumeContactModifyDto.phone},
            email         = #{resumeContactModifyDto.email},
            qq            = #{resumeContactModifyDto.qq},
            wechat_id     = #{resumeContactModifyDto.wechatId},
            update_time   = CURRENT_TIMESTAMP
        WHERE id = #{userId}
    </update>
</mapper>
