<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.WalletTransactionFlowMapper">

    <!--  查询钱包账户交易流水  -->
    <select id="queryAccountTransactionFlow"
            resultType="com.korant.youya.workplace.pojo.vo.wallettransactionflow.AccountTransactionFlowVo">
        SELECT id,
        transaction_type AS transactionType,
        transaction_direction AS transactionDirection,
        amount,
        currency,
        description,
        initiation_date AS initiationDate,
        status
        FROM yy_wallet_transaction_flow
        <where>
            account_id = #{walletAccountId}
            AND status = 3
            AND is_delete = 0
            <if test="queryAccountTransactionFlowListDto.transactionType != null ">
                AND transaction_type = #{queryAccountTransactionFlowListDto.transactionType}
            </if>
            ORDER BY initiation_date DESC LIMIT #{queryAccountTransactionFlowListDto.pageSize}
            OFFSET (#{queryAccountTransactionFlowListDto.pageNumber} -1) *
            #{queryAccountTransactionFlowListDto.pageSize}
        </where>
    </select>

    <!--  批量插入流水  -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO
        yy_wallet_transaction_flow(id,transaction_id,account_id,
        account_name,seller_id,seller_name,product_id,
        order_id,transaction_type,transaction_direction,
        amount,currency,description,detail_desc,
        initiation_date,completion_date,status,trade_status_desc,
        out_transaction_id,transaction_fail_reason,reference_number
        ,balance_before,balance_after,create_time,is_delete)
        VALUES
        <foreach collection="list" item="param" index="index" separator=",">
            (
            #{param.id},
            #{param.transactionId},
            #{param.accountId},
            #{param.accountName},
            #{param.sellerId},
            #{param.sellerName},
            #{param.productId},
            #{param.orderId},
            #{param.transactionType},
            #{param.transactionDirection},
            #{param.amount},
            #{param.currency},
            #{param.description},
            #{param.detailDesc},
            #{param.initiationDate},
            #{param.completionDate},
            #{param.status},
            #{param.tradeStatusDesc},
            #{param.outTransactionId},
            #{param.transactionFailReason},
            #{param.referenceNumber},
            #{param.balanceBefore},
            #{param.balanceAfter},
            CURRENT_TIMESTAMP,
            0
            )
        </foreach>
    </insert>
</mapper>
