<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korant.youya.workplace.mapper.WorkExperienceMapper">

    <select id="queryWorkExperienceListByUserId"
            resultType="com.korant.youya.workplace.pojo.vo.workexperience.WorkExperienceListVo">
        SELECT
            id,
            enterprise_name     AS enterpriseName,
            department_name     AS departmentName,
            position_name       AS positionName,
            start_time          AS startTime,
            end_time            AS endTime,
            content,
            performance
        FROM
            work_experience
        WHERE   uid = #{userId}
            AND is_delete = 0
        ORDER BY create_time DESC LIMIT #{pageSize}
        OFFSET (#{pageNumber} -1) * #{pageSize}
    </select>

    <select id="detail" resultType="com.korant.youya.workplace.pojo.vo.workexperience.WorkExperienceDetailVo">
        SELECT
            id,
            enterprise_name     AS enterpriseName,
            department_name     AS departmentName,
            position_name       AS positionName,
            start_time          AS startTime,
            end_time            AS endTime,
            content,
            performance
        FROM
            work_experience
        WHERE   id = #{id}
          AND is_delete = 0
    </select>

</mapper>
